@font-face {
  font-family: "custom-icon"; /* Project id 5106389 */
  src: 
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAACi4AAsAAAAAR/gAAChoAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACJQAr1UN1VATYCJAOBOAteAAQgBYULB4VVG9o6VQQ2DgBQxNcVUSmqZP9/SqBTtmEoHLw6VWr6iLHWsbV6vbzaSkxzxbO1a6MbLmn3QIQQKTfNRwghxKMv3PBXRVfkISLvUEqe5zt8uzNpteunYD0eThdbak1wEZdfmsAOkW41m00gm2STbEJLIaRBaAkhCaFIT+iaBEhCV2roSmlWwIIotgIWsJzHCbZ24ilYKnZO9B5Q/87S0TsVa3xxv3z5cJC0B+q0KYwAUptvNzZ+yi0AXqp2xEg2Mcik9TJMv9fbf5m/zf/TB5b5+abOfwAcPSwtT2+Fj7T+Ux3FUepIPlsqzffO9T+DPJlpYe85kwT8CviasVwRiSBPwK96f5LfmV+r7HolsirIqgFpSzS5tnuixKDQkwoggAeey3EDJMD8C907ld7R2IVZtHQtCzjzrDTLAgo4MmxInbZKJkovW2/DUofpl/WHRXcifu4OxT7kdpabIAWB7SBIQTi9bl/aMNax6SAFSEMmjeQL5Fvfah9LHdYflim/PdTSGEuKBg4g7482DmNqBazalXXE4ELFiVFUcI3e/XxHQad9DfX03Zc/W9QnUN5ia3a7LTir5YkCbBH1oeaIXtFetCZ92oyDVmmpH+sgvuPfl3eHJQCqliZwe+nq5q3a6n8KXnFr+q9o+udDfhfgfkULmrDN2aj+iZ6Ub2or3sZpJ+1bm5K7BTTMazYbW536DGHhEXHjzpNSgEhveZflP77zE+W0lafDz7wafjG4+pz0WgEh6TXAKWsYYdCPLb+LXOs2LRrO7n2dJMYw5qDUVvonMgH9hs1ZtGnLtkE7lixbUTUZM95yf+S1aTegx5RO3YaMWtdsQosFHXrNm9Slz6xVa0ZMm7FBaQVwuRvqNljsEIDQTyAMExzmCIxFgscmIWCL2GCb2A7OYyGBqJiMCrBEaFgmGFYIA5Uw0UScMEZYCX/GAyhEiFYiQhtxQztxTxSXeQL0ECWmSAA6SSS6SVSCpywWYJSYEvlmmQDNpDzBa1YB0EIqsUA2ooMcQi+5jXkyjEmevdDFswF9PCdjluffsMrzbqzxfAcjvCC1aZyRAGZ4xe3ZALvGg2ugdAPDJ8b+3kblTolm1UD1Zi33RTs1G9AOZFEAvDQ1IDzEiK8jNFSKIgh1y/smMSCTalbytU7ZxxDF5LSomk45hiez3HRLCGFHafTXsVotiUSqoi7nWbL5rNCw7pKlHBfGmsmkSSTFG6BiPu1h2K54Yj9IO8uEeEGXclm1raTMLTNgvUeoNuvnimiqQSSTawPfo4h5wgdH+AGS9tGeySzCLj/8PRI15Ck5q2XeoMbjfOMmBLjToHrAqUrWFzaUOw0qzrHboJRkXXQiw9RKmFdvBIZUg1KBnEQ/rGbSaY0EDM+Klu/PLSkmYd9TRiMToHoPWATr/auogT5t+4e7ghtZ5IUo2wcqttDu3Vafvf5o+WP3jhXcurN85LDJqW6T/O2l060vCWa8ojz95dKl/uBUU5MlXPK7F/ZwP53RDr0WlFl18MYLKtof9lAfaEY7GL95u/K8yqXGEGQeBRstYkIj+A1UKvCUKVh736PoIEIw8Lv850bHmrYt056wEy8yh5OJIWGpmfx/fGFLXebJDE8HBWOwzq3iJu30rP2p5bjtF6Uo+73laqJgWCLKZXV7XuXC+FvZspj3R5AV4JGAtEgJeSgnU3Z4+2af6R881N8sbNCJdKvp0wE79FyIUXjut8jungRwT93LsMODM5C80/dtqwZFHOm7JLeeovrcDC+GOWNeMW1WZPyRBgthrSIWgGpc6+HvpPp2wsJchD0LHPO7Kfr4eo6+agDmhmY56skKmrjLsmTSeV2XwKZTxCZHJN2tkMUxgLuY1sXf7N7iKffkwl16f+m0d2b5wbYw6pbb1lb1KpVRdm/lU3wqro5ee/CGp1q8mW4CiDiRWT0602rxo0TqKjIccAVoEAYGGOx52q2gv0+Geqow8b/pygBuXxqNaEtYqf5rDzJZosBKhrMNUdJD6yWqQtypR7iRPWlSWql0fBI2ArVErcM8r1fiIGYVjTFaqQSychl40Vg6XK4ATIF+e5NpUoqRG8D1TVrM5gxHsYJweTEYqVRmowKa1ZTEjgvbBnxLzqhSIVOVbMnmSlqJI7Soy5D6hOeLWePAE/aoXaQ5H6OPO2SuJB8zYJGhUlpEhux9aMkwUB1kwwjf26UpEy8vhZMJKmXOUAfCIuFhNjIuPLoW93EbfUjfohVKuf36ywCcWQvKVx+iSXtYuVHdIYK0PzoC/j75/0Pcpo9PV5er964BPXnXpv7e4Fx0IEwhI6SIhBnsOtu38KE171P1zgtrOqfGbeJoRHU963bVmbvRW8JiBWzQwd29a837QCwvIrGKefnchuAUOGG95wfoaqU6fGDwbCNfZkTqshV6ZwaXd13ZpcuNv7IjCxfdcn9QZrsuSeaaK5W3wwqN+/y2vdNBOX6Ioir0Ogp2X+klQsWeoh6ehmWTMlRvyXEyWgbPZradtwdkFpYTpQINnN7Mhsg4UNF9696x6paI6Oo4RsbBQulVwLsYerAp3ZVHdj483lIh4AHNsTG8qJvWz00MxzwBaHQBTegSbL1o8gW/APXdIOXGMa1UvGqVlct2n/1dMzMbtoiCMhyVLRITJ5lPj8V0+pNKXXYe2VatOkqwzg0VuvEwrQCSPZd3Vsz406vm3mfTmTQZR5AaQU9hDxP5hWZAQhQ8RpUrD1NCwhDmwddid2NpueX/dnizb6YbsowQfCQb89HhHx3rA7uaHBgmRSnNEu4PiYmGeJMHnAIVzVxFCfqUQCuUkPLk2GyolFZG8ySBTg5XfBpwZumCu8iWvSXzI8E784DdO9Wrdq7eRVKI9rcMKi+kZH1xZ2bX5CwZkJRwV+tPtyHKXYFF26f1KYmCGYOFHaAkVjJKhjL6zzenPH0g14lZCf5mTfcpXfXW2MrXCcuDnhZKGQf7nvwSl7YnYohZDn6GZqvysm8wMJL8R2ISTZFsHNlQiTPmS6x7dlREEQP1R3MeY0pSMqEJUOkilulCdKDkoFpfdqeMndp6lzlgV1fdD97rWQl+qqYDZwr6kEmEU7GzyHzN1axnt1vAAlS4YqXqEItoAlnY21Rc7hBdAE1pAKGmhIVZv2zwEUTLSeOWvk12ESzCcNQHrLDTXSgTNuLeZgnXawMstNpYkTXcyFaWFqUHmBKNKG/KVoE3F8AqD844tS5sZcBYmYgAkOnylHKSOd0n9CLH/pUynPA4LDc6A5xnOH2WhtkigLsQFbMEyVvGYdj5nslBJ1y21udOXLnS3dhxWHMNL8kEvVaGnT6pE0Hzk/+z9C5SNjNhxayXKxEFFTJuOj/r7aTHD2RlT488S/J0enO+azdPa5mjXZyTve3uDnZs7/iHq2DMBUOVCt15y4NXepWePdHLlHHApJePeyeusEvHgO71z/6chNvcAkj8gT1pk/3cdLO0B0mpdxR7tq8RpephB5TKGJSeMSClAQ8MGgp32o5Sb6dSBu5vKVgIrb3QvSvIUQvageCkT7ik3yIE7O0jDMI7811tHPcov5Vh6ewtGb07lLGnVXl6y7DUt/fU9SY6EGrrypOunZwMNXFXa94ttF3dorvbEREU1mVeoE/dFbbmrc6gdnqSW31IqA3dJeckJTOcay8JYbxS4watHR5nhmNlBPJnpr2vqhtFHbouot3I4eZx5FH4JDGNwfUPFaaq6O6kCMz1Eo4wNpyQfJzJSAqhifS3yB73uxU9UmSN/v5MA+AiRyF5wNWPPFLF5ngSDgjPd6jGVm2gnDSAaGqixk/aTpqWcJumYigxRwu4n9cP0KxXY2ZaNvDfDh4oDDAMvaayW9Y2vf2zAJoDLAI6jHjuyKKsbktKzIfxaX1R9cQi/q+QRfBx4q2962sQPEqyz8OqtTXiCVxcfmPo6KfSCeZYiy+9eP3llFIal1j0BIaAGnmp1HXoKQPjuRncCW2ewt1DHGVCLAl6/3rLWHSnVIZhMaSckcvNsBI/jcsr5epatfJmcOjgws3bA6ErblS4PK/vVgRl075h5TLQuAfm68pvR5Sgl8MK9KrVVxbqBC0PaSResYsT2IctCeg51aqDRGGpDhpXdlHaX3SfaVLCCWEa2iOzxrzXGx3JUIdZr9VQkYFVBIveXYRhrA1MgSHjw9CGRCZLIUADDYtAAxm3CXCfIO4DkoCOlYfbrF9oYBhKWJZ714U3Sy8uwWLAPYAT6NMBqaPdmgC60AW4q4HCIlBChqAyom10yVtmi+6CTbkrdCr/KC3cGrJy+SNDmXxhfeRMg5nlFHuq1SlvqyiUi0K0Uvlp4MzWQZXTN8oi6Vt6G07LeTnAzRcHJCfrudCGTm6ZerbcIIQxuPjWcKN3XjmGpDM2KWnmH58+snxnTuw8ejFlZ2e5gNk0s+f1MFHfCKT+HsOtQ7EWAEV7dOD61vR3tLMcLCe/MoWlqHbXGg3RZTxlixud1Q9HruA6CKaMhUnLKJWrCNBIdjwiuKVzK/RiLm0Tbdo0GZmhs3SrefSbdcm7SqWOIM0UWCkH1xfzlzlJu6YbwIMeYBlucNbS6nj8AQ8oZWL4g3uq3z+ZepVgFInFnR6IzkDaT/qt3YGB8VgD0QUqLZfHLlz06mufeW1rpfLt+rf6iDUIR4+7RhtA1FCHAe/OzXrvxq7Z4dAU777VLc8B1FVQmxmuVt+5XHHDovk090pKZKdKmQaOfrm888kwiHxcoebDEQP61SYmfHMJfi3Vq7AT/1uRvSn07irwbDe2Dyulvy4l2b2YwDZNS9o42SM5eZVrQz1ZJg3XXhPCGBZa+1vQ6FTGZL7uDaWbPRv+fECQa/xkhkXXVJNzKqUuLq1daKrLHPgCKIuK9nE6pSN1QXDonckSgphcR1TO9bzq9X4X4qDcK09FTMWPv2dQtj3VOxCEHnCy9I+lDb1rGvoYTKjngoRr3GAsQckvZ1iQAY9/mLbM++nSWJjhqFz2sE6JmbVmet8FJIsnZ8NAUba50tkgFrPo8y6pHIDBNUQ+xZ/Toh+cG1YaSmPSyusVu/0u4TDt1o5aGc4k3oo6HGKa01Cp04xZABSlBiu6QG3VxzXLuxC0N7oiBHCMBY0OzuALHFXOAO74Wd2W+w3IiRBsOqfOBXuJmRgBPHyf30W+954aKoqxGhq29KJUO69FEvPIwcHBm2uN6m8opUAK6iGNpGqMne04Guf+aNctZXdZijzxn1VTwJIaUN92PVknPsPgiKWN3uYaX2siwjYmu6GXhOifSctK1deiGSLQKeD45ngQtjg4brNhrTKNvTZjm687Vkq3tyXUP7ikmTVcaI3jgdbinzR1uW/XyRBHRFY1jv+/W7bKzOkSyB5wFYzjv2DKtrzx8ofFHhuFfNfHL76WbnoTxEzzqy99Uui2cC71fvTK67nW8XIbDi/fWWyG7sIce2cwwl137gqW0olW6MZmTO1KBQLG97LOIlczZsYR89Ss6Ue71rXSimGq4e/u1ba6fdfu7Wo89+BGZ/3+6/f/Svs9Dflwm4uin2YsaLZIbR3fw9ZqzxA1M35XwwZpy8ZCYGV8dPkZP9MiJK/ECgBuPnlKTNknqpWBpXUr8tKxcnV452H1bP/Tcv7i6R3TeuTCH9u3lQhYxY0xMB7VNKySaIczRvEuBQaTxkga0uiqk/COlUBVOmtoCTYWyQmJ2UYjKZQEU7XOGuqzoZSUGZJ0XUCO7XlNbvbuvBzXTGJesCFLTEw0qGaUbXxyKcR03W20vOS/Y7PP53G1P73fCq3Sn6rm95iJXC4vKx2RjNg02fXJH1eVbbm0Mm96lHiyRjA9Z/knNHEXsDtlRxk64j85sa5gsl599CkIi8jeeeigYHH58je7Nx/a/Mr4SwX7tp+AcPBp21bbO0iGF/8pvffqrqvpI53ce1aGZuPOb6fLVnJO+sVstbfvnNrwoZ99ZzLbnrT0nqu/3t2tik7nTtG/L0fBTXNztilpV13bVVO3lNXd/UxFN/Oi6aWmny8oRxebs2Ms5xuVV3UfR6SGheTbRHuvsjvXSAO5U+8PLCO4up6kmh71bhE2bdzlf7rFl+odx5wETmOOege15/FBveMNJ6PTDY+z0XYMBJ69UlGhzSrXjqG8d0/pDC7Pig2qSktbHLW4Z2+Nbk1LbY1aKFr+cZszud+5fz9Z5VqNfVPVGm5Y+4qpXYnuUd46EPh+G3nxUl2brn01ntXeld3iuLhrWjvLPmVsL9aKfacwOEL0SdMTVMgWot+x1l+7mqhChIE2e06hNF6XnvfGgam8DiA+7+Pm5ytIi4g2uvpIGYOxujjdKYYU4VcO3P3vqeBIQ3frUf66w/NXbbe1FSWlXmcA5h/7wRNLJ8ulRoWKP5u7GRVyhKRzPA5silCHm/BqO5Nc7Wti7ldnqFQZZar0DL+ydD+/9DK/jHTVi7eir6Arqgt8iX4B9kftBy8FIZbgSZaZklk7E1gm2eXKqm59dcx1bpRZciIa3OnIPdHV/3L0xXDHnCZv192ufClbzPZxlfGK+vCvhWl4Ul5Aagfp34zppwAfhniWHksIWQtCCnrMIeYey7tJuYEBubUanhtQ6wv8yBSYG1gPhK8InGj3UC7jvb3B/j2DG+r+7UR4JeSl5/QO8gd7N/mhH0FZXKUgKbowJcEvokwbVhsdKvqayzfwc7+KQqP9I16mBZ7ZCFVFnZ5zcV/Lfa8STuWI3HfQrtnscNBlbWHaFtu0Z1QlV5l5InlJZlg7f0dNzQ5+R1jGkmQQFztnblzc49DCKFmV48yUlJmOVTJtYWiAOitLzfpKU1KzkJUTzImVSBZVeegMWWpeuN4gq2EQVzK7agzSmgOkar1N7MJ1TTBtsvULzdL9Z6gpYEHQMKLeUJzjz6qX1vCJTYywrDocqaZMv5YMbzhqkK5fZJJl7CEhAdMHhAfnpW+c3Z4wfi/u3rg/6Hye2S1+whlLt3SU/vn/LxiY7v+FbtsJ+Y/fG1wqOoLCUd6zjzQmzFqOUW6Okz53MRq/NG1+TfqyEhezFaBj448iOa63fD+EQjFTVkx9g9wScyJvgYffoeVmRuVXPuIfDEej50Qb3jA6p0CxoeEC31tibsSj8YcUaHkKrmliX6WwdisaaY0kP4gV8h5LnTdhrbgl/I3wUiBvXuiBFzbUsnwIwqnFIkSZVSwk+LAXtX1tkuUHBTnWHogV0ASxBxREiVwtzzCqpOzxh0wa4zo2zg4Snz297foWnrMhzS3Yz5DOcSk+eHrANRnGj5mrFEGyvMoN78XRLuifvCvSDo+/aXpRbPjtmQdjfSSTcanesQme51RrCsfwcpdoMe4oqa1ViPdQGFXyDLXc3SO81vGA1csl4eruSHYst3+anVZrN02QoQvE7Y3hG3QH2jvz9tAqtBXVssI3iq7yE7wk/7ifi+HgzZEBkSl4Dvxor8c7kYLrczTaNOZxE8y9mESwbzvLYirYAvetdX03MNbJ4jZvdZs+ES+OZNLekIjXjMvZRWznO2kesXO+4+JnTmnIT6nPuJSpWJCvj98TltzHffShP2CWkPn0zmpNuWNfUj9rzqplnJfZc5rmnIEeXin2XPj8UQSKzeGY2E2cKM4cDP2XbNfnfncEIavq/f0yM/2mZ/itr1w4w3JQZ16Z5qF1l2iTGK6VJHlBGdzrihdI+twIH9VBDaUfmzOD6t3VdZnNHyetkkl1U6RZOun6MhF04pSknuOhxSEhRfOO7DVz4YeKu3Mm+SeJyo/Gc5LK50wRxwi2UnT2P46WkKEW9dm8FuhFYG5vm2vjpHghWmEX/iPc22F8G7gVtzp49TLvzTZF+E/Bn/pno5u9g1eX+Y0r9MC/1GA3vshGswZ7b0Zn93eHvtvUb0mmqFvRpeu19jFjDvy+f6uG43K109v9SBHjbg06Q4il+NKYpWTNTlBSV1hcXKc5oEo2KSnAwUi3G7X7gM6EIacYpxDMzeT24ZSdTrzGuNZpRQaJqe4SjVaSKHlN91TiIOazcvvJgeR+LsENMnK0flF+Jj8ja/e0bgb1U4IohknmWj00WUKJEq3mg2oTGVTcHYTQD3qAQwdH6nmAdblqSpo71cqxUt13Ii8GW1mXF7OWDQ4tEqNWthUVe25b7kfLPszBKakiNAkPFc3H5/5pmtPAvnzOOTK0zgOlofLhSqGkQF+gQ6ysa4cPlQC2A7XikHX1TTBKN1GzDh1Hw4TUdTWe6BPkR+26wA/Muhm58lxwOeSScIenEGwTk17mJtbOctw3qXOOU21i0lfEVYgCFh0Np11WPznKPqr6R9FKOcMt5F6i0FnYS8Q3VazVilNzJe99U8W5RIXkvYpkX9/kfF9jsjzfKJcb8+XJRl+fuyhAsygQC6NkoXRy0YmQ2fvIuARnX1MApVLUSKFR2P9HS5LX4QAT770V4n2Jfr1bhMxoYFLoZESVtLqcAlg0SqOoAtOKkjc7IJdUHgB+X/6aLtEO5GhGRpgjiFnwVrBdaCl/IaPMUeeddhRhFESh7RDC5hHkr2jZHdDlLvZv7asc3tjfplGHamai7YKFOJcOuBqnIA4nxIFu2qrIQZPEDJGrGBP3Ql4YVcgWUsOQQaT35MIVuYaMozb1NkRCg43FpoFAdK7q0DgL86H70n0wDg6PDK/AVgwjShLxeTbKYGPoJAjYQsqLQVfV4Attb8JhpsW+MzgC20ZNo62AWyE3togpglE+kT8qsMDymH+PqVRowNKM5w77qU42P22cqNsM/i7BH6hJ0kRuojSJlk/3q165/KTV0J7TTDzT6B9VtCheFK2KrnBPViHEVXarEKSKhMBPAVGHuUQ6Dm3GjQXN+b7mYRg77OECSu3Fk1nL13249ZMsk/EUjnfmEslvEvKO5b7Q/PFD4o9OCtpmce6c1vPg/+gPsuxTJvvKMlXbFdXvm9nMuz2hNE9CPAEs69LjVbABp8WffLD715qH03gG4JWyA/DvrLHaKXGVPbZ5xTJvOZ7SAPbfgyShxuMUJ9IJY6gEurcfNFDwcm9ZcZ5tTyVO6aGEKk8mnJ3MIh83hrkJM8f7eoWm3ta+bJzmM8EWndug/hF2OjVDGsC2ZwVK44tPh333b5iLUuY2+H8PO10cLwtgBfZPKEr6oS6y66YyOCkIx18SK+MEEd/F5i3J/k+H4SxYC/shF5JyLBvjYraCTSF1Di1dIZgNYTMIDnxEGVRm1VzLYRXYXEGp+/xo/9GHHyMj9+61Htveg8IdcRRW1Qd/HBHWp/8Fd1EwJ3N4Z3BMIguiPIsOHh4eby7w72+iYP0Liffd0mN/bUrasOhY6oYU9gGMur8pOY+I5589FtOdwu6HWLj+hRXD6vRUxpQbQppIJgTCUsz7RMHYGOUTcgopRaLsAjdQjIURmRx+Pd8FcjF8u1pOCvjQwgcuv/DPqX4+KBw8+9xf0R9gqDA8dGx1BI5ydPjXM47D/OFOOn4R/a2iZfHnrMQ9Q+pxna5zW2enLuHiBats/NnU7opu8PTTQMVAwOPKx48cl6RL9qUOH+t3GhZc8qRjw9RHFadbJ5w3nEg9evHCuMx6cTKDW9qhe79V/AbW/krB0B4u5QkdEF4OtwgKCnjbIaKLnoiAiE3FUDxlY2JCttWjRFNCzsOFiUss01pZrSZDir7hKRosVcPIKPIEvXEMFGJjKGAy9v/k7fBx9j3h26U6BLw0mrwAk5fSK8Y/NiRWHeut9Db5q1ggo8X3jyOxfyTuCjGdD9Ty0YAB+SbAgeWm93mKtSnGkOCObEKcD3FvMx75iwjHIKcqCS6JLgEuIuJfTvhkbuoh2xbSCG5fM6HFpRzmgcg422MZzn7C7TNyY2bf3JzcNdk5DlP/64tnJjDrmfHENSQw4hkN1g38Kbx9zugtZZwCugY9OM4rYJ4W5Cvq6y24+19TIwQ330kTvLwTvN34mmff6lwtOJj+yOnvZ3yNm7d3QoLXzaCcgMCcQF/PlPKrT7Tswnz/hfHxZCt5beCgWaYTa8UR85Kn2ELQLRo+kfD9r3JPsyIwMCcngKYJZQ7StZoT6AmNBtp992Lt8Gk9ZEegMgdwj40ynIgngnjGx7gBJpVgh9Odfrbh4t2OpA7daHeyFuw+d2mRjdRB9iPgx9r5nUWwTPsYLmR40a5YvUNlbR1khBJQfuffgBsW8HcnH03wpS2oBRVeFbUWKB9MCpkMeXO9oUyTgAZYaiurXPpC7x9CXgHlreM7R6vjTzCREh08uzx5CWuhqyXTdz6lNab2lwx+24Ip+3PpFoGFXqJKU5hTlGmq4jS9xDk2LiVcEr/ImhAZW9agaGJlZjo1+TaUxUYeL3oRmPf12wcIfKiW+2v84eoPfpzZvUQPpA9x9fT7UP1vjMZfn48DEC4vXK2N/q/mvZ+Xq4I8YnxQXDl+72vwaq1af8tlXLP0j+uvusV85zPfQGDk1YTVFR+YbOaHxoQ138cEo4Jf9L/s6XmmZ/UseGSxywGFj5SWnK9X6BZ+IX0SCvmW41tXl1oBmobKzYDwmEDeh5e1XiN6gsXz4BhljD4PB02LVkXj8wd4EgWvqnxe2G0XfuTS69f/16062cjA3Ojc6uyG1CRsVdOjbVptkkBTfcV+afW2rqQZI+R39u/Iy8fq8Jbcs478ViW5wHAh/yQ4CaSfDj9JXEDyaEQMPJYbtl8VVnaqrBLrDLJEI3jBDVI5P2j5vPu/8oHVi/2O/U8RFSgb60og7eU+3r6XNCcgB7yxy86XBcQrzgtGKHUsK+sJ+53yHbuXtfJbaqxeF3oSlKsOJYNGq2BWSsR8LqNVBOsZJpzKrUpMmSXo7fHZqOawSkVYDBaNiU3GHrPM1zHFp8en5YfJzFhMhplFwRpgZFUukfs9YkykDWocIr1xsgEF7CXkQZdN50w9FeaK147tFz7GHjR6Rx2Tb7fYUM3VhUkz7GzM7m7aSIkBaFw9IogEs1o6VR/hXS022Jmi1F4mctBhx8NBZJYfmqeNpl6TXY/J3gTOU6JC7kU1T9bHL/oYKdkaIfmYsEg/Jab5QqGkbS91OiAQAEQ3uZjoeJhA0WXNWxmTBIhGEC0ePKUP/rlUm1+vdfmT6oD9AQqqJ7IoCJTAt8F5MhLpB658KrUlRts6Znx6sI2fg2P7GRPYZBYuQUBgsBmJ/G0PPmU62EYTbco+XTlAz8F5uhp3UdlChVCpiBLAkzrXf3Sux9x0f7uGuf6tc1ORuiYYE10k1XbQF1ZN5GPkW4F0qsZZQ+1ZH+LjqXN+jYUrYWhb8OQUb3oo4l63e7aSrHm4M0C27RnRNKWzkvYemehidk0gtVQiE5VFmljJXDlBKjkfQgqMQ198uwQB4D+qljpq12PXJrM7yaxhnrSTtSkoConPz7GRquFqqE0nHWvCstVcpGpv3I6uia4eoaqoU8Fco4zKW9epGtpoTExHv4jcsbStgFnQ1maJiLgutrdEx4zSNODTociIihkRLWIRM1osT7hTfptJjvSBk4jcuCVifYjR04hcA6cQZZQZnKSbdHEJ8SasDzOZ1E1BH+Ims6eJ2EfvQ/zfH7MftCuwG7RvmdKcMN0tApoMxUTNmRkfC9ErwMM23Zqyt6SBMC6BCjAyQ8Dlv+y0ZWBcwCQyAJUvAj02TBoHMG0ZBnY4E4RDp/oha8BYHdPXU0WL9ojponOMBmEDdkH4wrq19wg7f74Q9jgVof2t6qNfnVd9DXcKGhRfy04futsnLBT2rbx8it6A68uelkFfzIZb6llKr8fVg1If0Pq+tc8MUC+qx2Z44tzTpmb3CRuEfVnTQPllmpK2QcqJWuoGmupE9m8s0dN2CqloT9a0PXTFKGlLZOXTw97hrHHuSU31oQk8REvmJiehycFPi4YWnExVtSugKO3RIU9L3YSVe5MvqZdEIjSvCEcC2p5pzjC3U0nU9sWZJkN/y/Bl7z7I5CypLmvntmen56S3c9pbdkDEPlCQ3pIiyGXxjqNqb4H0SaCxEQBgbYp6a5jZ0Gj1iWcCYWfUG2gMP3LtmqofhPeHX09NS0sFweARQIVoU/hBTVhxYhXtaZ9XJjNlfO5IU1De0N17VgWjO1prc5u6Fu1YAoK3D2Bmw9QIE8N0dj3TNna7w2pkdNXLVaPIavrBWDZHRfZSmBVevXsi7vTuf28kSSa709Pb66NIVHgB0W55iSHdIcPpQaZTmoP5clxe2fH9jwJKDZPm1/pHkM1HTGbLZCM53P+4Kog3FZqGor/6h5OjzpvrTJNqSBFBWeq8CgsLLkRtcuUP0gbHyy3gXy+lBKtHTDx7pHAeKxB1w7fKSxLZxjg+yHBMd3ixnAQvtTme8U6Wlmc4+YcafLnlTv1M9r2W8+7b3crjbuRYYpAv9uXxVSyXDa2SrNbeAP7JLi+hTn9wCFJ3gpegUw0dhNRdYKcL4YfhjuEHYQt+M/xbGcP8+IHiIfZQ8UC84P7MdyAFVI7HCGLeV4JUcBWkYhXjKYKU9xUgNeU7o54wQuh20GBj2GLVv9jlBkzKxhv0i8ipXLNVm8/KY8XHPQrNN46bOGnkWH1iL98s2FdvWrGi5/mL3Sfz7hfPZ/4eTSugB9LMdNxJL6hYGKXqtCh6YM/pimiahR5AN0XKp6cFNFqtP/979RHDENwMpi3yBS4Umya1+QzXTxp3Bs6qHZBqJBDDY/ptgyOsYW/EJ8KtAFgf0USe3hSQV3SPB7AkbzwAZgEATsPdm9TjDWzWzzqfBzoBxFi9w/csajMvky45CgdNmjAbhqMLzYNLoT4Bz8Oer/oJl7NGv5gBB/AwagvMJzieUKNCmiF7B7eASVb4HgxN+lMb7DWp2zk4LtLqGJyUdBC8M7rB/+GpWfsALZBI9Cb9ivgd8q53GRXNpJ1G4Ex9HvwpCopIjfivQKcDrkfT1k+jBX8kkv/H0Lona9ub8Brrj58rvgggAhy46RAA/82HZeL1EcKP3Z3XACDD/3v/fUAPXW+1Jtm/APBzILIptZgig2QAM3EAANL9JAD+E1A7A4zVVWUmhgYiE15tGg7YAt40GJCBq4iX5CJBmiTaSNHrSMALiBLmduY5AAYQHgEAuIGVcBoEHMDRaThABdemwcABPBDx0juBMAQiiDYSZxoJmCHfwsjADZL9f8kIipWbrR154Vop6q2odL3rY//CYBHyx852+B/mQjzajfpDSvd7ZMzscpRFGKvWrs7SuXf5Xh3GKC5ladFrv1FNz4NBTcvR99JtvWQENWatnNl6SfLCtVW9FbxBul7Ed+cXBouQo/eCYv7DrBOCT40z0jdMJr4nnHS3HFrLIozPptYOkZyt1XnHM8N4j4qT6Jla9NrXZDDTswE8XJ2U9ItVu4FIdM093s6/OwYeIBiw4EMA9G+xPhcMAg4i0InJqemZ2bn5hcWl5ZXVtfWNza3tnd29/YPDo+OT0zNHgh0oZoJ4nZBaAs42NxUOLd34Gn2jHnQSQY99qisLktdlv8IkelQspUiYjzsN6ESl7VnBvJcl4u7vz38PG6O1AZ9m2jQUrBuJdP4LvQKHiC+S1gfGpFhO5+bN5dpa4nBO/N30o2L3hYoepBxtwrtRwpNPUzc3FmxutbaK3cYzkBmBEOxWSaXSsalfEZWcV8brffR4epZdszwF4bCmpWFGK+MSYh341qMnYr7ifQMr4+thQf+vE6sND22nc7QbxhfQS37FI/BejLWc1YyO7oqBmvKuNkI9zDnhZe7vqZmuoLcikNKI1SA4uYRe6UH5aM83X4bRlQcKYhWVOdgbji752aUWu5DNkVAY7LQlnW0oOuqhgPBh4wKKfgu9CF+R2tYrOLpYWrw6hRxA8cEEXHWceOSljbYAAAA=') format('woff2'),
       url('iconfont.woff?t=1768810496742') format('woff'),
       url('iconfont.ttf?t=1768810496742') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-material:before {
  content: "\e61e";
}

.custom-icon-peijianrukutongji:before {
  content: "\e612";
}

.custom-icon-peijianchukutongji:before {
  content: "\e613";
}

.custom-icon-rukutongji:before {
  content: "\e65c";
}

.custom-icon-categorys:before {
  content: "\e670";
}

.custom-icon-depot:before {
  content: "\e622";
}

.custom-icon-supplier:before {
  content: "\e623";
}

.custom-icon-customers:before {
  content: "\e626";
}

.custom-icon-user:before {
  content: "\e697";
}

.custom-icon-role:before {
  content: "\e638";
}

.custom-icon-SKU:before {
  content: "\e72b";
}

.custom-icon-members:before {
  content: "\e642";
}

.custom-icon-rizhiguanli:before {
  content: "\e62a";
}

.custom-icon-RectangleCopy:before {
  content: "\e6b2";
}

.custom-icon-unites:before {
  content: "\e750";
}

.custom-icon-kucunyujing:before {
  content: "\e600";
}

.custom-icon-inOutItemList:before {
  content: "\e628";
}

.custom-icon-person:before {
  content: "\e607";
}

.custom-icon-log:before {
  content: "\e645";
}

.custom-icon-cangkuguanlikufangguanli:before {
  content: "\e601";
}

.custom-icon-baobiaoguanli:before {
  content: "\e7d2";
}

.custom-icon-tiaobomingxibaobiao:before {
  content: "\e648";
}

.custom-icon-chukumingxi24:before {
  content: "\e618";
}

.custom-icon-rukumingxi24:before {
  content: "\e619";
}

.custom-icon-gongyingshangduizhangdan:before {
  content: "\e66d";
}

.custom-icon-shangpinkucunchaxun:before {
  content: "\e6d7";
}

.custom-icon-icon_yonghuguanli:before {
  content: "\e633";
}

.custom-icon-kehuguanli2:before {
  content: "\e809";
}

.custom-icon-shangpinguanli:before {
  content: "\e80a";
}

.custom-icon-accounts:before {
  content: "\e753";
}

.custom-icon-kucunyujing1:before {
  content: "\e602";
}

.custom-icon-yinhangzhanghutongji:before {
  content: "\e6d1";
}

.custom-icon-zhanghutongji:before {
  content: "\e671";
}

.custom-icon-yonghu-guanli:before {
  content: "\e603";
}

.custom-icon-a-xiaoshouchuku3:before {
  content: "\e60e";
}

.custom-icon-a-rukudan-copy1:before {
  content: "\e60f";
}

.custom-icon-caigoudingdan-01:before {
  content: "\e611";
}

.custom-icon-kehuduizhangdan:before {
  content: "\e7a8";
}

.custom-icon-kehuduizhangliebiao:before {
  content: "\e7a9";
}

.custom-icon-jichuziliao:before {
  content: "\e655";
}

.custom-icon-baobiao:before {
  content: "\e902";
}

.custom-icon-cangchu:before {
  content: "\e604";
}

.custom-icon-a-jichushujuguanli1:before {
  content: "\e605";
}

.custom-icon-wuliaotaizhang:before {
  content: "\e606";
}

.custom-icon-a-pandianrenwu1:before {
  content: "\e60a";
}

