@font-face {
  font-family: "custom-icon"; /* Project id 5106389 */
  src: 
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAACLIAAsAAAAAPeQAACJ4AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACHcArlXNAdATYCJAOBCAtGAAQgBYULB4NPGxwyVUaHjQOA7Ecwsv+/JXAiQ6gutJv6CwsGTZEuYjNRNKLceAubgvgY+yiPD/7Yq1iMggLDxj+sL7Wjr2zKoJSscrYxlvufnbtYrpMLm2zFfhWjFH9RHZYZSgnx39Hm73acN4UB9jy2QKgJqHSH593WY8oHPvAZDpCxRCsVEXEtQBNRXDMnzoGWKZombVtT25fNoaWNq/PSLlvTbmxHaynPf3+x8/6+XVkJQoyDprUAd8L4amA1U2yBte9++VLApO0nOmR9Q6FJTYpR1O7mN+ZAAgoTodr8XPg/AbK2exFBLHRNjABogApN85M5q6TGKsnpPpCl7szwNmeBBhaADZmZhYZlzsf6Sl9ZSpweDtjOEEDgYFNd1D5MHhbqyPa9rn+OowThopws80cBBPz8mqXNzywdgtxcgX5ZGEAp5//Jwpufyd5f/snRLM/yzFKSAqM8WZI0fxYDB3M8xaRI6nxZ15gaWSEr6+SdcKdlla8QppC65qFPH11hQxI0cRibDqy/3Z13ViCgYObznRAALXIB0KcdGQ8o+60tB2xY6pMDsCfH/gqyAUFpgo1ZFQhxPGrBRqO6moH0nOEAb+PHj3+KMgAkuAmoB/UyavLAIKu/DvNP8q9WejcAMyeAKkAGuHPWnK7xnXEOY8LdYMSw7we2RAAeBLCsn0/AI+bAkReNcBHiFKs0XzMzyTjs7J+jfz78c/yv2RmK+7XCKBcpIReNVcQlnrltVSs8va/lX+V30b8SclH1f4YH2KgMJrPFyeYglri4ahVKuVGg1uj0VqFU5uEmsju6EwuY2AHiIwwe0UrD2CABo408jCGKMMYoxpigA8YUHTHW6IUxxxCMJYZiVFCNUUUNxhbDdfKORQCMHsZiNDEOo4XFGA2sxBjhfIzAZowOmjG6uBSjj8swBrgRY4bnMRJewajhVYw6jmp1GXsIMPY4jpH5zuYsjJgBcFYgFgeuxgHgpOd5Av7DTVKb4yBIWGmkEiI1pIBJAOKqOCb8VEhmJp76qCks0JqLtLVaqUk5rEwtvQ3aKKE28RzsUGalsYSdB+dymWE8UM72M2ScOwaiXFfxG8EOxeP3wS2e8OchW7Qe62XrtE4/lBlYoOtSvPFAOyVkDMs9lsJo2rbzbZlKVuY1tn9kFH3BlkKX62w2EMWUKIWmLVC3NdnTIuRDg93Fp5OlJSpcj182bd/GMaVNWrkQ1/KI6TOKqtkAXuGVZydRSM6h+nlmS7swyBEUFIFXXACC216lVx9AEEMMMEDbPU6hXAUqzqvsPgIj+gobDm2CTY7ZzzqIO68mU+ygcqQrbKIIoQfuX4ohAtCxjz7AEMBk2wd26fAo+0M0wBNTrLGATb5pP0PVhEN1luaeejy02ZRrb8zicftrnHy8ZDOqKVEe5JRi6WOAKs6LC0DnA1EzY6AfA9Qz6KNeBPEsQHDOAplpDBDQ/mBzwJtBW9tT6VhtpEI8WF/ReqpVSCR+wN0w659WP4aoL/NJcnlUDV15Hlzt2Ks6ovWbuYL5iLLjpeERDDDwmg7Pdnwn4vMaT4Zds5Ot2DaRzwDL9TRn/nOOW5DHgVUmtt0XxAQNiJTSft5gDEO+cxw7PPvsRSDYNmKJE/CztxxVodR7wfUAYxJgwS8skPlLUEJBPkAi5Qbj9zXljBlpuyEIcdTPQgdNzMgQvEZm7Y/CtsNAEetDAXs33sWD+08v6gqU0LBbp2hAxaCDBGFsCKKQ5aeZBochCUZQQVC+hZEhaXCJHITH85a4sgf28r1X8aC8vBtQquInFolj6DhJ1IwRNOVJCMNrXSTxJNl16WOLyycFyrFrUQiQ/IV8HgmiwBbLp9LsFu08uujw9lUVUUNpLfN66cHhIRHxclrqWuJbJPxBQfyUUkRrdIU43vh3Ki7ZbpLzTZn+gME8lsxAL5/RqHxYZ76LrBFRL51wVNH+q9Ut2It7AuqakTVeJ+jnnyqhOfvCSPuzkpd6Wmi6Ntp5VB5eP5RXykFBIhs8FfEfEktDqacFcRRRoxjYYYj9ScYc7ksAqUZIKAUBh2E+SznLdRp2aLthaJD/vGbMlBInIIqegdNEaTqFqSZNR1FNf+Fwa/Z/NMJPAugSTLO0JiTltQmCKqT5RtFzIk9r9n/GyqPGxRLCy2aiwlNxp1kEb7srwP/kxnRq1jRdLw0jCHmjjl+Sb0QjtUJYrvaZMS1HaFfXA7iJPzDuazIlaJtqY8AKk8QMD2PtPJbGoAJKiAJihzhP4SDzO8y8CuZnmde6sBArXsoiWtLOqZQ7BSQsN5FrZscnP+3xShGjlRW3S7pojW1SgRQrNclpAgKEgetYrcfyMAZCTjWqOYIOydqGFBhBWN5ssJvTKF8cUQhKZxqVwJHVELKy2NjZC7SSh+SkunjmHTNeroTbmuv1FrLEkR34td2PGV4GBGjov7hp5YB3i47OrbbrDxyStHPN5Rag8X3XkHfeONLmnY5stYKmFwe35V1+B4l9+cyGqfQKQuLSRFzoyQALZNIsghjyBVbvP7uqk91/eTuXMJ7d0EaCVEbiU0PF4fWnJw/LJ5gb2iEzfJa/eJVvyuvDJRAyP1EJ9THWnc/9pxxi/6T3nvSIBl9HnKc/sGDGe8YtgHxw6hoaEDfOwF5+9iYe5HZ19LptuOQNUsegbMCPea9rol/2ZD0ibbNnpxH23LvZ2Lzu01qQJ1VgPxVK9ozhAxLeDaUocNFFYLsw5MOCT/ggHZXhPT2azI+jgi9CkBghkTLTwFhWpQyqkSVioiYZyEfQuZYtLl5fRtqurXQQqIqoaQjTbIfQmpFyJJ/g96exbFCdEqSxff4Ekc4+OokAhhngFodqYwBBpInKo9Ey1Z5OxfMd06NPNHIrFCGYTZ56s+UdzSGSuAhg/8Djhx79xWKLZEu5jM+SDov79CvOYnkcwBRmgTyqzQALYrg/iO4RSg88BPBDq5PTw09EZ5yqffOFlbvWbmtOlIYbOYC7dz7w3YDQsJ8bNihDMMKEilf3hjtoQNxa2Bfcbu7RPEW+t7Gt86xe7U54925rXe0VNzl/8eTWLaNlEqlcOLFnQXN9oU/XD08mu4eG3DAgv/N0TMXFkr35uaQlO7mz95jGhnRMxCAle1PzxQvt5aZc8NIL5yaceNPmSYoi5zcUuxOLKS/lDpAhhxl8i8SlXUB2X8ZYXt0LId9zxTMbUMzdfYfCCsvAulpaTpTi/FIxTbdpyASMwW5uOIPYs0RabpR7mNiN380OjXbIO2rEeHYA80nnHqIMhKVihY6L/FQg5CgEBfWQaDbB+k3S+vhbXj6+O9h17JK4cmIP33vy6iNRPGhVS1qHt9tr5OXbT+gWurP27tUXlI5vpzgEEFRER7Sxd4GrthFNTYP5ATfZ3IA8r7mbTE7olBZyQx95tUAmimhAZNNCVd29arphVS6vnY8gQRq3RaMiOHZfx4PyZpXydrvPsLQSuBuWuk9VaLsp5hTRXCva7UDRagEvrE2ntwpAU8Bvokq7MZJMILEjalF5nk1Uw2BNWIREUkdm80WqknlJaduQl3J/Tb1aCme2ROW67MiLGtXpSLAqtYhtnOaki8KiUmvFjcW6XG8eK5ENZlLawhKZv+Y2YWMnR6ZERM0nVSbDMFCKTAuty8xsTGtEpVGDHbx+ujmhPKQb32ZX6+UNNDOCIeykNU3mnhE0bZ/trAiTYkx1JV7f/B7KEzf2dE52Lp/ekv0uT8Tzyf7GxrSABCE1VJsdI/smjj02Da+XkksO3lUyu4IhhQYEpeu6ryXls+N1jN1E5nwsL58eXg82doEk2p+n99+X7AZ3OX5gStxpd57YmNtXyXvIa6oXQL43d3LV0VW02eS3V0RwXdCaTFpy1eGGOeR2++W0LZoT8cL5uaTVvIYaHcgXV72+so8I1cZqNN0D+QOGmfG675fsEp4I+ldemNLR3prXcQV7O1GKhAIJR89f3l5cuqIEwMDHjou8ZwH6AoNg01BxpILEgXRHtkDEQ6pjPPy555+9n08PxwIJ6OAY+oc4AXt5Y2ZLdq0gKQTNpmgvs3fy+qzdKd33UFg1HeEnFtWIgz1dKa5NyP8UtTFqydZHOh3fY9z9j1VH8TD1jfTYkZVtp/nuKWd+abFUJAUEN2RzJuNucm9t5YqT87iPTGlBVGBPFhcioVYq015vT3gmhJLlqisWIJ3tumDSG9RwOlVegmUdliMnuCXu8Lvy9teWqIAlqOIM2n70c/0lloZrhCCWZWjS+1bDI5EGnpzps37gog6NZPmQGegD0e8lbS9CIrYD2/0kFFsxMOiG1kEhDhvTKwWpSQMTqzlGaC6jUAZd1nlrjCCcRB048W1GNnZFyAox/LNP7c5HnxncxIQ7RSAnn5XyNtDjqZRkIAaEKuDWEM8t6eWZdE+e5CfEseA4YW2QEaAyxI3xM5SelPKGDV8169h0B+Rnr8ox1DHh2viYx3MsDk7Q23wSy/QqYzMdKnTE0VveefTo6MFJDHcpRhg9hlWLmPSEOiapfBKdgNMcS9QiXq67yCyycLHyGV8pdmyM9NiY3kcqIvflwMhqVbRL20aUIvOLghVy+3zfpjM8P8hGPtkQyXNHxw2Ndo5LwzY6+0oiU9k78/G+nzPAKoQxsbocnaug2q0GVmfCxJnbyORhsicszYlgmZDaUPFbJG7U46Vd11iHv58EkIITUQeOylJwGJkFU7dHEoQ82xECgSIkfxKWyzCGP/8Uy9C2u4Ljo20JpWiJJa6cWdyNhNay4R7Q6ck/yBdpu3mr2brd6tzttJ1k8ybOvv/a9Uu7dg/c+DGl5ej5uXHDlmxYwmAVAySkXejgZfP36c6NKAwNBZBGfwFt6bqUc+hViEm09e+41b7UVreaxHhibuIG4lJm3jHN/h/tUmrMx532HOrgWq/WD5gZNq1HHA6eRKEmOVmCuX/ppV0DJFIqxUWqkt+/ny872JU7LqEwVFRthoVSlhFVL51kmkik6OOtvCpXUwKQ6URa4jerAcmf0UgKnUZPRfSP2jfibDGN75HBuejpsz8+Bp/n/75x7Kj0I3e+56HHXdylnMjf24O9s5vHwrkpiD2SytUOWtq2ahnMoF+ufcPWYhFUcoTHX+eXJ+MSLB8ly69VFIZ9v1EYh0uuVRQWD4qrtAhesYBltPEo/XhiTeb2Iyvd0nUOksST1yCiUpqsX7m7MWSbewmg6Wl4nK0jlKbH4O3xjBTrdTCuFHUHwzSgg7JLYy5q669JR/Zo+fXafjec631XtjbnYk5PXf8OVdreVfaH9R/aOlSSFjQWFslM2SO/FlqFKFgoeCgIRf8YHQJkcQrlv0ovvWXUMtI6GjXaNBoN1Llj0evoyWt0mzWGuo7atn9nDv42yhDxlwxfxg1GS6NKI1S/5lsQUbyo1A6fsu/ff8Iec+wqRMTObFoHGjJZsDr4QNPsZ0tv+liS0IeTK1wGmGOqPeo969fGOx13/L5l1e1lbZ1twCkuj+3OJi+BY2EsmyK5jDsHx5h+gpaQbd9U4/3X5d4uvZ1Ltn1bJUc6Otenr1ywbum6M4qcuX1aj31y3ULdihcRKyOiuXQdHbgZZETjEtuOZzcpAvv/6NcT8vTQXMTIMJaUqMlQe07JArADdwm+iDuBO4J3Q++/ghuAD+NPodwURnp/69EkU3zqz2hEmCKcQnrx/8JP8L38BErmq55/lJZAzUIJg911GGIGriDp71RHMN26nICIvwG5vArKT0012ZhSU4yMZ8z8SPnT5zOfxRlBB6QVZP7BX8H/I1Pgyjdly4kjzBHicq6F6yq4rbBfwtVCzxjPx+oyhfkcquM22Gup574WPWfk5me+F2j57zOTNX3EEcYIsS/ogYRdT2te77oTvlNUoKDh0OAJ66Ro2XwKGNutSnbKM7mcte5ssAmzbtho3WPFRbhWPWR3cgR8vr1+WAHHWd2BSM0EytgHwm1klPAB+oVMHIH2D+1+nXEfYRQBBFzfHsIoTSzFGLTptqVmiV4fHb25C2WzJD9Drc7LNeJ6weNrqKe2IlpTSqZ/t8fYS1XyYNXmyPNHbelCbDbnZcajgmyKyjSt9YSNj7sPGq3FoI0Um4ldfaSC6zfkYWJNsuofPypgmW5BJv48TvzOdmCKMVhH5luxA5M9TgxxoCUIEvjaiVag28a2I/tIpY0r1XBB5ZJ4KzZNcQrDyMcXE+oxmFbf+TgGCg0xGPgGrIIBSADg/1k/yMCF7tlYvbY1KE9vlMRko950xyYbssqpWWpbSgmO7uDRAcgn3IJ3anS5dMWiDRpl1ty4YAFqkgdQYKhRjcop6GNVWCVhrdAMNS4FatCwEgwiv7ZgfCyIl2Now6W5wweftVXVX83CHwKGQqd4NwzoEBrCAQYh4cnUAnhfR5G2Aqg2eW49LwYUDZ/vztzWQIrFyOP0oHVX0mYEW7gVfm7wqbSqfF2/sEwkzq6uyolh0JtLatrf7cUA0LZeh+1sI3ISi4Bvuz82CDLVLrWQkwoXDiQ5rEZ5b3X0rvuBpqJurPO0WWCqwsYxUTisEl8ZE4PH4UIEmC/LG9EMG/cY/5yIjg1tbnR9vqg15O9N795r3HFuaJwA9eP+SgkaRynCYliaMmuwILYzdX2NQqTLF5njlhZGxVe5IXsuuEemune6NrGUW8dqcfEOAI+m5+H0FIuSaRDYElVhr6odxj53qI2ZfV2GelNh7dp7Y6tuJyp5IG4Wg7nYKgUjT8DhMaJQgiERTJUTWAC4dmivlSNW+FziUkIgnZFBdVHKst1kiyCAjQDV4AjfOcOrrAj8JF++4BI9UAeCT9W058VFmjat/9P2QQcPdWNefUgXtINckszloOpAI3h+gzxpPUmWcZ4c4YxwDj/hOHD+Pcx5S5qxnvFvGQeZDpSMMcLsZWAwpBlS08V+k7VpXs7qNUabaZv6vXsLbBrmZR/4YQF50maCfIB0nUlX3NcVB2PV2G0Y3IPnFl1nyNQxjmq1Y6zV+h+QBqn61LG+mIYYS0ynI9Mlu8Bj9wFNPR/h1WsOAOxVya4NDWGKu4n/ejSw0LZhxwJQy3qzn6Dj+GHqNicyxzId6+tO+3VP2bHc8mRbSebdxnmNHWGhmsrLlgJWwCYrPCNmwKQ1Hc1m4PFuhSJ6fvxV0awHRebmeqY2RKbgvhCbF+Xw+Vg3K5uaxS+4Cpk2hNlcD3yrn35F9UtdrjoYpPf00rPSqHvSCNSoEFtvX3H2/3ZaJmMz45aACvygRpD5hburu85V+tN7GSH0g3T/y04hjF76Dg/aeilbHp3vTvQjvyHr66MNv3hG67vQTxsZH6b1v5p5sOotQ6QJ1gTpJ1N9mqz6nNxG9ZGba2T5Gq2NS34mTlhPEIcajMGiICdn9ie30rDALypPAjWUepgWxuPKKYeI0Hj5Zv7PGylb4CDYJYy2nTLvUlTpw4UtH0GXEJ8l3I9sPXZMJcFeJ66CGNAq4vblVHfqyg7WCGs1a5g1l6rO6Pa2/LCY1g+Wb+92++BgsD0/7HRq4qbmL43U/YmOCq7Ct3Fsz659TU5wD0U2/wYr51g8WS/alXiN0vN/F/QQ2q9aqqyJOQZoUbw6N/TBWuGWytYeZQ8hfnxv7RHQvWc71bmC4S2UTUMINbS3J5dFcNBjnDqP0YBf2w7BQVx+GO0wVU0lmKHvQzJrWUC2UqaMl8XrtM/FV+ab7ZCly9Y1oeLb17J2rf41kDQ+i5B2J1hPVSU9v9ouwf0lky7lgRvefsQXxFDi864LxrFHR3HnhlJ1eKPsnCwRHyorkPlR1NxQyl/3kpIqZKlRXtlW10Jzsg7kZkvTCbl+hgwJIcagrCjd+McN/4QRh+dlxe/OLLiWa6+enjMhmrlOK1tfIwmkMnlpyTPZM7yZ2Sd/VV267caq3HKNJDJUWJ694gMcsxcw+5nke6c8I2Pq8yOjVaf/BN5Xhior1Rll6jTdHzxwt5eWZYz2qU5J6dR0jjNbtJaUZIvmPFr5+x4uaZBbNUgy7M22vkypwT5q+8rMbqQ64YsD3q97SJ1Lo5ZFbVqNtdvUnbXYprN73iY7VtKLw4gF+Uamc0TwH+Y/YBFbBH9DLPu6zRQRRIdbPQ8it7xftPmzA5m8zUByzdXBw02YEqyNl7o604fDo+ZG9dOdIUHV5bvv/hSeathvOS1Yd7Kta6eVlTg2eYQOGBfruydxjpQ7xyuUggX2W2ERR0S8yuNgEoJVQQlYFTNBrnJLYBxVpSmVaaXK1DSP0lQPj9RSj7RU5T8T4i+gW9MNPr/8DziqOQr+Ffob/XyNjVbpbgRGX6tYGTWW/85IF2oSZee04M7mnHPdg/8+/+fh5ibzHOkBqcCZLWG7Sl14nbsK3vculOfM80reTHybVt4PBBgUz9hr9Gd0vn9+b6J/4j160jfH2yunzitzvOrqvZdKMXK8TUD0H46jdQywp79mGViv6fYBjhwt7j8RLzX74LBg+GClvvTAuRdVK4iKsXfuOI/gUnVgnTZA/CVHYBDkfBEHaPejvFQNZmVBFCWlPPv6kcWPZhdzqp7J3YaZrYnWx/lrC1K2WaX8RXG3d08/F7ckPXCTYFdt7S7B5sC0JXFgbnjTwrlzXwUUaFyqbRqTkhptql3UBQFeqowMld0XqjslA1r1ifFpFZRBcT8xQHJObF9vcKmlE1YxumsNzrXHiDXRR3U3uvsTI81lfXui89EBSgqaE9VNzTiZm/yM0c61AoKZ3udSEwTVIN1X/HDDaYPz+o4El7RZaW+9yi+LjjenblywSTf1YO6DKU+w4+/0/ZLnhEHa0m2bS8ovCy+Xe36mWe1AeU49GF4qPgVjNHMWnGrRzV+BkH+ZIn7sprd8Nm/9n/h5FTpsO4BfTI2FcKS33d4EoML0KzPHodsSTsht8PIbakUiveqLAPL0w2jhq+IN4/QdelR4QJDQ7bbEPnhs6iUZtSIJbf50pEpUtx0OmQkhPQ4X8V45c7cgFvQSwUbMUiBvbXfCihrq7FxxoswiMeSeUSTCubI7ln0xu+T5+NjUHQsXUoXhxxQEmVwlT4tXOrOnXjKo9BFkiu0juXKpZ2Qbj2tIcfDzMKRy+EXHL12WxmGwLxKrFT4uuVUbXku0fPg+b8h5s9Nv1GhxeNBo4/FwV1kkOnlOuG7WVeWaghdYOV8rQZ8mLrOIsE6KeKU8TSV3dAqqszk2k+Prfj4Qwg63H5zHVKuZ84RpUd7ow2ECg49BhxtH73XBFlhtF7RR/LNAN1v2u+PVMA42McQrJAnLwYwddpoUK+xdT2sTXjj9AhZej8Wxll2xYyjYQsft9X23ELsLRcvmqJZFx2AlIQzqOJFwM34Fu5DNvZPiFN70DR3RqG/ISzKl3UhXLMqLjjgUGNdnP/Zm0Gu+iPHnndWhZTZ9sYN2TV3LOf9mNZmbBlAvh7r4W/T3bT9gpImTwDZzNJwmBH5LYvY5Xl2Bf5fJ0yM93aM8zaPqy6ynmS6q9KF5TmpHmTqWlWpZbBQUwbG+aJGszwH3XuXTUPK+Nd3H5KiqT29979vl4hyld86Icq76dFR4hh6k9J4NKPL3L2y22hoWwu+g/e5G0jSRItBiObFlTXpJmHA7OYr1/XQxCbVYdSV3Meof75yDy6QtvhEiuJIZ9D1ojvVUD/CnHXcCJ44/M/GA3U/V+hRHygxnJjjuhv4ZtnyydtotH77XIYFn2DMkmdWz4hGWP+4Y1ieLCXEk4jZszv2Epgb2T69Zn91b5wRTYfnDKpEsPzo/ShOl3bt8UAzUiWY6Z1Z/+UTI61PtOngKDhRR1tV6Bv6AvtetCwyyriJHngOu/E8G5CpxC5lKZv8KF8etQwMG9vXtEB7Jotc7BLvEGxhkGglSxq4uIwM7KrlFXGnwymIxHZCKq44Bj89PRjHs0iDxXJjyDEoUTgh3itCfHPAS3N3MkNBzEgc7BQoTz6An8WoT8Ar+NiS12nqcxWc9t67hdNS9GBGa74mpQSvQfLQIDfZTJ2sJHCuhi6USRHIQyAIpIraIEggNQwcvPqTQTWgKxpvwBFwD3ohvwBHsgzoxZYe40txorggHjYUerkRWPoSMFMLfWTCdjcAJwsWl6Z9hR3j43W4yo5GETrcKjtCqJbTFSmhfKY9fLCELnwsIgudCo1CcxPNhVYpQsDTtb+ujFFv8NN6W0mPw5Pu9ocQ6x9jHOMdS82gefZ/409Ra6t/UBF7C84vVVA1PQ62m6dIL1RChi9kFQdVECB6XCFEIP8Tm3lb0C5+mb2teBrIDXy4i112/kLFi3Zvb0yQXF57C5s5CAmlcl3sm55/Qi99lnrCvT4+Ru2Ne7+Nf4e8klw/p7KHlymVDyvNb2Yy7vQHUWbgIHPAcNJORwXbCI4fU8H3m2A0dZ5I3JLGPIZSj5rhcAlZw5UzY/iT2IMoOPdhe+VCVmkzX3xJRxS4iICq5yD6QETZC/gD1QyUQuRS4BSN2CIHBEZgEfBQf1u8danAggDYB4O8RXJViAvBWAO83fQIqV3G0Ii7AvzcLF6WALpmDiE/tsJH3IgkL3PRuUug/CFPMW3CH0EMcZwysxvWIulVIchThTBlPKT5sKhQoNb61AKbV454bmNHMPrDI0EdM4g4egnf/474ps6Lg2j2TXn/OoZ454NYuMpuN2FuKOgVIbPm+AhwEI9awq2havAUfC9pNlUfdZLJypFQ8I02yJkkr0m49QepdR5qQWA4w+aRpnD2GOG09TbQHLDeMSYBiLAWrK7C0v7QK2eFj1EJY4S1imcBnRfOjfQJQCXNDJa46O1r72/n5VB01n296UO3SXCVx3A0bnKaj6ccc+Tf9++CbfF1EPexLOJmcJivhNId6xrdT5/D7+HN29yCCy50cw3jLet8YmHeTr7gQCRso9uVTQcuMFg9+DTPHamAzQ6CYDTGnnNIqP1AGrOcDKCNWUwfKGR1mA8plI7LXNxUwjIPCI48cFgK3AHNyP/ElCYhscU7eSVdcpFXORczuaR2YMiCDthpGCERB1qAewaxaLR3DIsBYmM7DWbJA5JDHZJFe4xLROcoLbOaNxhmttCPtmpUMvHRTQp7mpMWp3fk7o39Bngk8w6eKedHvZ0j/VO757GGzcYP8+2lAU5MB/L1Y3LDRMaHpm3rtglP/F/MvppHcbjNUjauTTnWDnUzAXxkfAPiD8faRF7wbY2SqA8kVlU9JrPBOyUikqFIuR9VyX1Qr1/a0zFY3lNrsTQAD1RAA3KyCp6BYO30KGsXNUzCsPUbY8skQbllJhC8fTiFKRLntHYnDP/6/YtACucrOCg2FwhliUhTyy/cX/4QyOc2PN7T6foEj8kK1XW1Chu8gAJPLEk/lTqRQBZNXt3QPDpwjVTEdwcjqIFLt1+sizPfKkK9dMWiBXMnO+oXRUCjsYlI0RsgvY346n1Ampzn+FoRYv8AKQ/jqKFsrGzR0p0JRb5JDezyVu1dLCqUxxtuq3PIswF0HSKnCpzuCkZUDhlXtreFdFahsla/hBxYDXfNm1fyiDDgIkKBAgwH7L4E/HQJBgAhpNl8sV+vNdrc/HE9n5xeXV9cmhsTmoCM8hEtt7MAZH1vTv3EOPIrawVsSJTymSbXn9h6GvIZodH1KYu7TIgoZ+685YCgZKmLpopPIq7WzdMbQ5xciZp9i8FqAUTtDKcjMfxMPHIOiEYtSiU17XyewNpEzTGOqKofAF+54Ly3vm7u9JD7Hdo7VKr1E8T62r9hKEbjF5KD59fTT9eCzEEknBRSIYwyllTwI+GeM0qlCZRSajsqZdo4ItyCVOj7Jjv09GT2uWmL33lirAQAA') format('woff2');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-PurchaseInBack:before {
  content: "\e67a";
}

.custom-icon-PurchaseIn:before {
  content: "\e6b9";
}

.custom-icon-PurchaseOrder:before {
  content: "\e6ed";
}

.custom-icon-saleOutOrder:before {
  content: "\e643";
}

.custom-icon-saleBackOrder:before {
  content: "\e644";
}

.custom-icon-indetail:before {
  content: "\e6c2";
}

.custom-icon-outdetail:before {
  content: "\e6c3";
}

.custom-icon-stockwarningreport:before {
  content: "\e66a";
}

.custom-icon-saleout:before {
  content: "\e652";
}

.custom-icon-buyin:before {
  content: "\e653";
}

.custom-icon-retailout:before {
  content: "\e608";
}

.custom-icon-inmaterialcount:before {
  content: "\e67e";
}

.custom-icon-outmaterialcount:before {
  content: "\e680";
}

.custom-icon-inoutstockreport:before {
  content: "\e64a";
}

.custom-icon-customeraccount:before {
  content: "\e68a";
}

.custom-icon-supplierAccount:before {
  content: "\e68b";
}

.custom-icon-material:before {
  content: "\e61e";
}

.custom-icon-categorys:before {
  content: "\e670";
}

.custom-icon-depot:before {
  content: "\e622";
}

.custom-icon-supplier:before {
  content: "\e623";
}

.custom-icon-customers:before {
  content: "\e626";
}

.custom-icon-user:before {
  content: "\e697";
}

.custom-icon-role:before {
  content: "\e638";
}

.custom-icon-SKU:before {
  content: "\e72b";
}

.custom-icon-members:before {
  content: "\e642";
}

.custom-icon-unites:before {
  content: "\e750";
}

.custom-icon-inOutItemList:before {
  content: "\e628";
}

.custom-icon-person:before {
  content: "\e607";
}

.custom-icon-log:before {
  content: "\e645";
}

.custom-icon-allocationdetail:before {
  content: "\e648";
}

.custom-icon-material_stock:before {
  content: "\e6d7";
}

.custom-icon-accounts:before {
  content: "\e753";
}

.custom-icon-account:before {
  content: "\e6d1";
}

