@font-face {
  font-family: "custom-icon"; /* Project id 5106389 */
  src: 
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAB94AAsAAAAAOKwAAB8oAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACHLgrcJMh1ATYCJAN8C0AABCAFhQsHgyEb+C1FpJusllJRVAwK2f+H5Lalk+k3alwJTC44OJDnVPCiyoOrUz/IgWGZDrZLSED8cQmkFmnzRSX2S+hX4xq6HmIPW7UZSpkE1VjZe0hPWJ5B/StgYYgVCvsqsTbCR0/IZnh+br3tr/62v781rBJUYIwxqsZAcDC6RoXAQJFQEGxssMC+wwyMuuAEOy6asAoQtoGOtAPX93+tN9nl5L3Z3d+yca3wPX5ppgiOVTmxN/YDgaoR9RQAbX4+8H9TXdQ+TB4W6sj2va5/jlGCcFFOloEffKf50sZybnsgS20OqBAYAdhO2gFCf+xf+1eWDO1hwFBgvsCDHCDQ/z+dZeuxnw6hXx+gwkUDWJb6Iy/8Gcl7szz2kZa1LC/JDjCWKfN68ujQENAeOmgHqNqkSh9uuxRlynTlpeiuLlP1DKlrHHx91G4bkqiHbMsbZfREhB4wYGQan+9FQsWMLZnt270ztCf9+oIv5/zUhD4zPeHtOZLUKuexOiklC7Rlc9n0HRSZL+wwIN+U7z79A7dTiYx81vmEjl7vXLnwJ7G42ZRF9idwdjeCg2eQRxYTGWvLLHn3pJmsihMKr5C+7FzKYcq4nEaQiCmoOfAUKlyEOCWqNGtlEZb+vPnn/b+mZynuDyKtJo8FL4wl5qUs3l5nN5kyc9HmYisL18jGwq2/AI8BJQ0tbR39uvVKMgYNqSooymsqq6ip65KVM2pYjz4jpAKYXoP0yY2MEkSsM0CQGMUSg06DkOu0CIVOm1DrdAgHnX7CU6ebCNbpJUJ0EmHUyRChOoNEuM4QEaFTJWJ1CkQck22rBHTyRJVOk2jWKROtOhVisU6NWCLUwVoPQhdYl0DIgnUZhBxYN8GsMus+6Azza7rQo1gWEPrAioNrGAFjcpkt/ADUqtLZPdv/OTevqHAx4HkZcyhW4Tk75dJtJW9qo6osK+J8eZaYijogTKxGTNUUsiMNQZiyQVgUAwtY2oSViOWNSXPXSO0oVK7Mjsz1UARsBhzF3p6OOkM0RE3A4VHayY+ycSQiorKTqNh0NquYXGpXAAO5B2kwG0fsvGKxAEFQOh2h03jzKFw7LgJPk9KYAh7Vfoa3wbNhBGHldYztfpWfUEinK+mnGJWqwDtS6YHj5PCUGOplly9u7YggNDqZTK0VQwZLSdTGSjYJN+jbCJEhJB1xYlAqLFm1gWGF/QzuND2HDRabPtY/CVm2dYYTD03Y3Lgi9X4tHL/KmMlhfT5CxWwAGhZSTLaBMZSqICqds7HehL6aRIvLyQnLjhrVSE5A83zC5iBs+tCW1IuNAcBokc8uxjSZAV9tkiAn5iCTG0zgewZZ//r7iUw+RWeK3kADoPhLKsMzMQNTT5GJ4lvcN7V4omd1wSyRqCH1zF1nlAie4QelpqVVAsgP0YOtz0H3eAErWv45FbiyGmZzwic/SLQqBRWwzMc04a5dpjkVdewRLUopzJH/ugnMV2vDTKVg8A7I558ykxv0C2HJnxW80g/BSbvXN2VNdDXkGVPEQis2IjP4I6QQpEnQrO1szJolumLbkj1NqZL5GvBVjgSMQXI4l79JDJqtx7Itq7YtUPUUp1RVYkXHjCzCp5hxNuUJxxWFEU5+MeBO8n/EC58GRGwhpOO2zeHiekyMdnHlSOmLopJz+n9K/WahakBeIc5OIDOUPw5Ykq8yaSA6k1LiKdsgDpche1yW7lhHwLBeKZDmuhwVopoxJxe7AIVN/aHa1VTMJDXChQDKfiyRhclyXgohUA4Vlxkgk23pLkEjNFen4iBpLpl6sw1L895n40gUtCcTGUoOIc2teFvt/uCnQa0QFimt5JWCLm6TJTFRSmzsn/oAkAI+SGuTpIAFAdkJR/sKx2C0ngYGamYXtxCsO/Hyi00McShPUQEykhzyNZ9v+V8Es+ARa0bZfPx10VqslFr9pNO7KGGyN3xD++PUv2wGUmOfzLR0ULslBuceWc31nMlkrO13FbD4unLo9Zcna0a9blWrekUL9APrinGIMJzP65loEwnWU0FHI1OifJxErOxHE83BVXvpqz9rfSepkTxXQ8CFpmC+wWnsWkhPWA9TNeUuFcbH7jPI37N2Gl1guDNVCk0B7uHnuUeVyH5Pw0e0SCt/ByuPvZ3gXD6udoC7Nr+NCuwuwqYv7Uk9l4vNl72NrtZLM3oRw8dGp2slX3ZkZjxtsufGkVru23PPktPHuIkfYbr8qG3Rx4XRI/ENIqXBkSx1WUWRHB69d78NzA6EQy7hL4zC9C/mgAVIEFERSxpFIYdwlBBgNspg3oVOtfxE/gZzyKosCYyNR5JDDrIPcjoVCT/Q0YdSxIRHGM2HDvkTy3zynjQi5UzTxYZSCxAW7N+9x0vWc1Em2O+ZTD0cZ+9lGEvX0vOvVLWpLLocqkJajT40fs8viXRBvDSTyY+jjuJ+/SpjVj4MSgxU0L3SR5RYWfBSpS+DhEohvfVAuND4sLeoFOW9p+/rbz+tpNzGOAu0fnH7dzeBw7YLenPYoDYXMgmqrx+iAvvHrrOD+p5oRKjSztd0vgceUFPaLd3Vazyvhitrc5cvDZYZuLA6O3i0vr7Sx8oT6XCgoUG1dfy7EbWwwHHli08eVa16dumsiM9FLWYAzJUvVJ5ZrZ0RfkcZrS6nlODCxTRDmc3FkncSmBktMgxoEU5R/1aw3g/IBjYkja0hyD64qanNyOOevqPhHfPA+lLkp9wgP1ccoL4QWyGo9equZFqgJUR+rdzLUG/57nnf6GKvq0XSyQHFnU49IA3brlMgw6I0MZFMGGIQDaFSAcs3BA3xd2zMDOj90+vm5uygMTS3dbeb0KvlklU3arU2a+NgS/bJ4borW0/H6qEVpwEIz2LukXjoqMq6MScipjmHm61vFMsrPg3TKR6RjsTIe0FVYCkHFUhGuVp0ZetAU7tolWnubgRcu+0c5SFjYEfqxV6Zilqty/CoFIRqF3qQFUitIq7k0WlHreYoq1VgxfZgrJoDGgB/4w26hLDIBWSBgpLnT7Opoq0vCYsR0twTT19QllzzS5sG9lpubbnoRo/s9vyymJFHifBoILiFkkfPj3PK47bDWDt2T3C/XD9uaMVUBPTYLu7cVuuwpZ6NpkaYdYZFatm2zhj+0OTcp+J8VMIs8mI6trNQSTFN5mvfIxfL/jkSG4SQclgdJ4s/M0lUW6rfa4dOQHgh6Kr/AKZhd7A+V99YeCb7RZoZdIYj8fmoQ4BxCVVmd9NwanrT2tglpE+OXZFyr7IGhgoQsqyHOukvtZYlnYZWNifFxkJjF5imF7GvY3ls5NZwALyN1tGMeVirP3w+O1zKb5HnhB+FPpSdu3/qflJv6oN7PfhAr6bDqnX/RM2cdK32XFQzK6ngWOcnR9XKNjqpQz9R1LrKHJHst5RINAj9dkFFazlXubIrjQRZ961muAe9L1VQwsGKFyEwYHbzykZPfumCUoFElU5UVD4B5I1EdqHBaSogjEa9yRyBBcpjKvx4zeDa1x/2xzIhaNg06puzsOnxR89k19HDDqtUzNo8exety3oV99Y77aJoCd8zr4QVqeQFp92n+NOsjAknL99dr+c8SR15sNgs9dPQaL5l8r6aUnljXuk85bgO7kC8nsyKmPvwLaX7Fpyil4dxhpuY6XLaOYbAFirnSpecskyzLZot3jsDsWsvXZi2VioMkvFPSlGGK55i++ahccU6+DqBAmhZUcp0x9B2/qWGMDgS1vDhQvTYIwyPp46bciu9M2QZLghuBa8JaEN0e0VN8xACWZfVOzDsUFLoE20GgToXf7hQQEXaUmT17xGmye4oAosq7wgQwjna4dlvc8QvRSRFyM59+jS8+LBnvRtUPMwDfPisigPAgrEUYpAFWA732NKLOV3L2aU1Z8ya0/pMxGYvAzAYNYTIZUZPiYxYx6/qdXLUC31pyxpCipQqSzEDyKa9cJbdrjlJTllo+ahFRSYzrl3pm5pqfnOSjVfNpoST97A6BPiaOaZRxj5IjMBCSaOINPyyCXZHdwqf+X1m73mPt7TwYVwway6jTQ8wR3a7mxjDncf1e62ezq5NJ3gxRgc+PBGps1Otgnh9rZag55XXShCpGGydwfDPmdJXO8CJNkenKiy2q+EHjsyFytQGo4dDH07MZ0TSI3PMRp1vBbvVeFk7Ztrx760EZDkHngHDQo5pVJyOhbI8kNDO8n4kZIU4eSAVE5RKrz+Vwpblq2ymuSnRdVckbC6euFrAucjUWQMwqSp5E9Uq+5XqQbV+pV5TwosXppdXZy9dnltbaWs4VvhMYl48XO2tck4aNAvtvfzLa3qmgPU+pEGtv6hvsrbP0Kuhijb+nX39Mo18nzQFvdA4Av50HKC80tj2iz6QLnS3cLNTs1DNoUZvSzwEeZRTqfq0eaXPbTtPoaTSTFCW4u7dZPmettx9DgOhtOYEi2VpJigrG2VaKRT3+epq0ZCti+w6nlylSYX/MX9MyDfDMxlWlrW01EiF23NL54It+HPIWfxh/H6CK3b3Jfx5ZB/hKMZVZ2WeaTuQZItP/QXLkKXIJhgDhH+RR4QBSQIt86VjlL5JT0CzMbIgt0iInIEvTPo70GlMti0lMRRfgVZbDRekptp4ttQUK+sJu2CWwpkL2E/irKADNkkz/5Ask/yRKXWRqKql5BH2CHmpqEvkwuVbJlwkMsFPWE9f1JWP/RSuEzUITTSJPoufsopLMt9JTZJ3mcmhg+QR1gh50OnBpG3bta+23YreqirQ0fFY8IhzRL5kDg282G5Idsy3OZ/gdjbwwrgN67n9RBFDROynulEjkPXuziA6JI54C6Y0k2gv3pNuMG6S3sPXqeQRePfQ9oN/F+kmA5Dwgzu2Rd/W4gXcc6Nr9iKzOTq6txvDW1SQYTTm51nxA+DhFcxjOzm9KSXW39pD3GpR8oVFvbMuGLWhm8Hrzc+MJ4WFdFVpJu4Yz9vNG4s1QVjk441tG6QU/viTAmyccU79wweFHNutkrE/D5G/8dVsBYRzYL9RqNn8UXKwmp4gTZDgs60gchPfnuqtUjUuNyKFVYviiXy67ijEKiCUkOohqM1nDp6FwcIsFqEBp2MBCgCEf9ZeYOFDdqyvWd0WmG+2KmNyMK/7YpMt2RVottGOVopnqt07APWwa9DW0Mg8pm7BulB99sy4IClmXAwwYKjRiMktHORUEpNwRCzLiE+BG0I5CRa57/wgQiyI10L04bK84T1P5lfXX84m7AWWIsd4Vwh0yCzhAGJQCFS0ENnVUWyqBIYej42nFIAWKpG4sTc1UGIhbZwZtG1L6mXgijYiTy3eVcSqV/XzyuWKnJrq3BgWs7l0dvvbnRAA89dG4jrnkwWJxcCn3Q8XCNtqF3dRk4rmnU9Sr8R4bXTwqvuObkDX13nw5tqqcXFsDB6nJ1TFxBDw+GAp9HlpI5bFc4vxy43oWDfflWkukLcF/93z9t2OG94Vi5difthdpcTiacU4iBNazgVzYztT187WySML5K1xi4ui4qtdGTtOu81Kdet0aeLoN76oxcerAQHLzMebaV16tkVqRzaEvaxRv/jUYbRmDnZb6m1FtavvvFhxI1EvBnHTWOyFxBRIm4AnQPIQkiURTGxM4ADg0mG6UsEgEvLIi0kBTFYG6qzX5LhqFsAAFwFqwH7mneVldgRhXKKde44ZEAmCjs5uz4+bZetZ+6fdvQ4x5qes+uBueAu1NFkkwNSBRvD0J+o4d5yqETzaLxgR7HskUAv+3Sd4Q5niTlHesPaw1dSMNcIeYEEQZYrSdPaMjWvLyl25ysqb5NXv3FnIa8jK+f67udRx3hj1vSPvVLrubmRJEM6I2wSRP2hm8Y8sjTHGwWh0iLXRlVhUxqMHB2MaYrpiOh3YzjmF7tu/D62XMMT1oYv9/0JeVm5b1xCmu534r3sDB2sXdtAfs2Qg5xE2ThJmnO9IFXRNxvq40X/dUX4wryLZTpl5uzGrsSMsJLTqYlchx7+HSGDFnLeZbAdyWASCa5GcWRB/WT7tXnFrcz3bFKzRiZ4pWhck8OVwm/VNzYpnIp3GFMxurgc+NY+/YM6onC+rLao7ZtUJVdQdVQTmpgxXL6w88X87PZPVy7qGSWEYzAhjTtH2mu6TVX7MAVYwcw/Tb/WSYNYAc4uFbLyMDY/NZyv96f+kGRykDz97Qh88fYY+MjpMP/Ny6sip7xqijHHGKD/b6svh1Ofm1WqIvDwrx8fKtS76hTzGHSMPNVidZWFu7uQPt9pwwHWDBwkNQffRw8QiLW0vGR6t6JX8sp62AQlEnMPom2lZ59xqHy5r+QC6ZYRs2W7GxoMHDUrcj+QVMAteQd68FHVDl3dwRjgrOcOcmagxo8+r67uFrL6xEqHrjT0XgoSSsGOpiT3NnxvR3YkOOpHOp/HFjm27mhyRfppmzk+c3IPxVLN8W+IVWv//3fB9eLdhsX52zEFAjxLXuWL31Mo2VLX16/tJ8aM7a/eDvh2bmR4uCNlA6xlioCED/YksRgIf59SslFb4Zf5eJFAkCaPvQ40oqRX+NqThavxz9Bp9vCY+En8pPhqfHHV2ZE5kEya+fTVn28pfAyij00hpt4LMqCHp6eV2Jf4vjWqxGPzk5Ut+Rg4hP+0+rZx5ImluohA0kmDVnNQkEkI0hRpfmlEUQvvrTlJSpSY1yjOHeCUkN/v7vBxVOinP15KhJMVY9JVl6//4yS9hRP20vOTt8blX8oTGyRlj8imnSX3bK0YCpVxbVvpE84TQyh7Uvqwp2/TTiryKUOWsEFlFzrL3SMxOwD7Dpt456jErpr5gVrTh2J/A69JQVZUxo9xYjtu9e276svKMid41KSmdoZ25Y5epKyW5K/R8Ju27fhHlgmjRBYotVDsHM4Vmodu+5Zl9VI3cVwe8XvVTOhdHLYnqWYmz7+nLXsjr7MvqseckPdvH6GJ8pTIFcuSP1j8QOV+OfGV07eprpclhJtJmeQi15XTx5i8OZIp7gfKKi9rdVZYSZIpXuTgxh8OjZkadYTrB0uqLt9/+KTvasLvrmHTNkfndW4lERWzyCBOwzvb8UzrN0jrF6/TSucKNiFwgJ18WC6CEIENgAs7ATtAaXBNYBwxpen1amT41zb0s1d09tcw9LVX/z5jiM+gL7QOfTP+AA6EHwL8yP6uvj7XRBn2NwOqjVStjdtd/x1XzQhM1J03gVm/uyb4L/z79535vU+sM1fcqqRNfyXdROYtDuEhPby9E7CT2TO4lv0mrOAOkEEZsHbD6MbHAr2Ag0S/xmjjuk+vlmVvnVbmedU1ex6AauV42IP8PLzA5+AuZrzgWzium0N9BYML/Jxen5uwZlg7vaf9zd7xbcY2OrMu354Z3DyozBtSZ/BWfc6UWae5nhb/p/S0vM4Jp2TBNT6vI+XH/wgfTSwTVT7Suw+y2RO4hyerClE3ElL9obkK39JNxi9IDeqTbamu3SXsD0hbFgZnhTfNmznzpXxjqXMNrTEpq5NU4Gwv9PQ0ZGQb7z6gbLQNe8ZH1cQWcQXM7fJ7ilNi+1uJcyyStYPXVWpxqD5JnR4+6PmzfR1aW89r2RKcD52kBaEJUdkJHqSL/20c71UpJrcxB59mB8GyUu0rurztmcVrbkeCcNim9Xc+Ki/JDzanr5/ZETtybeW/CA2z5O3238jlrkLZ4U29pxUXZxQqPT3TiFozHxL3hxYqjCBQ6Y+7Rlsg5yxjU6xPkD33Mlk+tG/8nf1qBDdsMkGcTL4IFqhuur/0xYeblmaPwDaUg+AZ4/hWzLJFZ/VkKe/hCJuSyYt0oc4sZE+4fKHO9oRQGvZh4TsUsS8K2ftxfLa/bjARPBVMehsvFL51EGxhd2EXS9dBioG1rd8TJG+rsXfDyzGIF7JZRLMe78DuWfG51zvf25tUdDJehsvCDOpJGa9Cmxeud+BPPWShzhDHB91ZeOtc/skkssqSofd0tqQJJ8aFzF1VxEO5ZYo3O2zmvet0rpUmC3BUPOfU6/oZGK8IDbzYeCnfRzMImzwiPnHZZv6rwGU4rMSmxx8hLuuQ4R128Xptm0Do4BtbxDk5lJZG/fB/MDxdeyGIbjewsWVqUF3ZfmNTiM9C+xpt3upEuxGgfuF7xizRyuuZ3h8thAlxisGdwEk4AvdjnOK7QCV2OmRKeOV4H836MxXOWXLJn6fgyh831g9cY9qeLl8wwLImOwSmDWegomXQ1fhm/iC+6leIY3vQVG9FobshPsqX9lK5bkB8dsTcgblD44vUFzzly1p+3VoaU8wZjL9g3dS8V/Jvd1Np0HvN8KOTf8r9vx4AwmgQJ/FZBqKCJgbyhsAcdLnmBX7fNwz093b0izb2bys3S1DyG9KEsR6ODxhjLKqMmNgFVcKgvXqAZVOPfGbwbSt+1pXvbHAz16W3vfLqdnaLMThlRTt2UjoHIMINv4IR/sZ9fUbON2TwPzUPh9kbKJJkmNeEEseVNZmWYbDM1ivPtWAkFs9BwKW8h5h+v3D1LVC0+EXKkih34LXAGd6If+NEPOYLDh57YxMD+5xpzigNtSjBFc9gO/zPc9SvYab90+E6HEpniTyHKaf3LNrh04w6bkxUIjQpRzMfl3k1oauD/fCj45M4aRwRFtPer5ZqC6IIoLMv6ttmwBIxNpnqmVv4xoqCPtWuQCSRATltTaxn+A/5Wt8axkjWVudpccOl/KqBWK1qoKJX/K1IStwYLWLjDuyE90ESvVQc5x1tYVDoF1seuLKcCe5TaoqhSRFUJnw0oJdUHgfunR4MYt2FM/Cz0PYETZWOyrXLYoze8lGg7mxB5Cl64laMo9QR+5G1MiSyTPIf4a7ijHAnnKXc226A7ITlWEgjNxuqwEqwcC3ajo7UCiVUyFSolQ7kHRABtIfDQAuBheA+EUMFX4QmEYCOQ8A0EK6EBT9JP6PCEPcOF7kp3YQiwOPj+csby+7DiI/2djTD5DKRQNru0/jNsiA6/355WLCOh07VSICO2hLQQZcIqbfxCJVX2VEqSPpVZueokngqr1oWAxWl/cw/Q7AiTBDtav8VD4vuaFusUI4xxikXz6e4xJ8kkWov+jSaIE56erUFDxaFoDV1Wnq6BSd3sbhiuIcPoD4kUxZAE8+5sxD7zbvq66nkAP+D5Amrdj6czlq15fWOS4uws1vFuzSNRRiPzjuf+E3L2m8YD8fHut4q2ZA08/BX5RnF+n84fWqpfMqQ/tZHPuj3gj07DR+CBx4VWKuNCO+mBOjV8V2vsuo7jyeuS+AcZtAOtcXkknPTS8bDdSfwLGHvshfaq+4bUZKb5mhxVOMuBvHSlek9l8BnU9/AZuBQR5zLXEIY9g8QSSG1SCUaCmnamcQsgRR4pkOyQXhYsKbwTIP7NnIDJ0x2ojPP3G8jGR+ngc62B5Mf2uFmPKskKXc2uKvg/GCoRz71F6iePss6vxPfL+wyM5CjS8XKxXrHPViTUY7GxEGXV459a2NHsQVhsGQQVzJUHE9z+uGvLrCy8csdmNp9U17PPu7bLW1utuGu6Oh1IbPm+AtWcHat4DXQToYsQC122qgNutRENvsonlHHOOGVZebljlIE1lDGB54IjoUzi9UnkSe4kWQg8j8SVELPWgtMdUHamrJqxxdtqgnGya+Ryqfey5ge7pKAKEYUoXSLt6c3vlRSgkWiBRA1A7dNclHGidescx6MDv3CQXPUbRK5KIiPqEVvK0eY4WknHGegnvhedIRmUzNjegSCscHQgiZa1tkmI+KpEd9oV1zEsVICClqmpSWDqvLWQtxIfsRIyxo/rgKZrF+M7fYUq48OGoPD4A/ugYHKNO5qf/BxSQnyDk1D+xkvOQqbYyXirO1Db8ET2PJTBml9kQREJnHBBPxQ0JbcFFwN1IXxBYuIwSwPxvR5CmviAUSiRnKRZwd6sUS+7jXW8XTNUOvzcVSghSWccWgjOfdBm7M0/Jh4M2Or1T7NQ33ckyv8X+//YeueucqPkhwAJYME5jQHgT4cyHRftEZm8uUMvABLcf6F+BRgSuN1ozYxslGCcASONBeDPUQ8C4G+H+5jgWXZtFjWVkWJKiJuxgAjEmyFAASqC07QEr/kQgmbqJ4PpoDoos0M3AQhgcDAAQA1WoM0YwAXHNmMBDVzdDAEueEhw2ngEvxyDJwRNsJkMEjGub48C1LpS5xWDFtip7F+hoZA7R0yKQn5+evlPKJLTvLmxNvgLHJEXq/ViRRi7gwAcXYF4LDYiucqZvLple2LgHKmS6QBGFnuRcrtc5qQCC0O+csWgRd5+p2T/F0VDIfeKSVEZJz/3+P58QpGcZu9bQXB/gSWOKK2s/0N6K+jIHQ+0N5tBbzwWm4MrucKcw+1RbrMswV2GSSnJBzqAkYV9CLfcWqK7y2n5Ilnb9yaubd7iufRYwmpS6YZp/Wb8lW3H9XwMTCxsHFw8duzxCQiJiElIYxC1g7ckb7wDHhp6LrWxQlcHQ11LNLouJVHnNItCxp40BwwFQ0ksbXpwvUYzS/8YurwHvvAYg9cCjNoZSkEm9ptZCwySGVmCiTXuTj3A2rgeZBxTWToEvjAnO0FF1zy8BfF/bO5CdUjHV7IbOlRspAjcYHJQ/3r6aXvwGUHRSgEF4hBDYRUPAv4Zo7RKoopC3VEx0c5RxO1IhU6O4uN/W7uTqfbYfrRUKgAAAA==') format('woff2');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-saleOutOrder:before {
  content: "\e643";
}

.custom-icon-saleBackOrder:before {
  content: "\e644";
}

.custom-icon-indetail:before {
  content: "\e6c2";
}

.custom-icon-outdetail:before {
  content: "\e6c3";
}

.custom-icon-stockwarningreport:before {
  content: "\e66a";
}

.custom-icon-saleout:before {
  content: "\e652";
}

.custom-icon-buyin:before {
  content: "\e653";
}

.custom-icon-retailout:before {
  content: "\e608";
}

.custom-icon-inmaterialcount:before {
  content: "\e67e";
}

.custom-icon-outmaterialcount:before {
  content: "\e680";
}

.custom-icon-inoutstockreport:before {
  content: "\e64a";
}

.custom-icon-customeraccount:before {
  content: "\e68a";
}

.custom-icon-supplierAccount:before {
  content: "\e68b";
}

.custom-icon-material:before {
  content: "\e61e";
}

.custom-icon-categorys:before {
  content: "\e670";
}

.custom-icon-depot:before {
  content: "\e622";
}

.custom-icon-supplier:before {
  content: "\e623";
}

.custom-icon-customers:before {
  content: "\e626";
}

.custom-icon-user:before {
  content: "\e697";
}

.custom-icon-role:before {
  content: "\e638";
}

.custom-icon-SKU:before {
  content: "\e72b";
}

.custom-icon-members:before {
  content: "\e642";
}

.custom-icon-unites:before {
  content: "\e750";
}

.custom-icon-inOutItemList:before {
  content: "\e628";
}

.custom-icon-person:before {
  content: "\e607";
}

.custom-icon-log:before {
  content: "\e645";
}

.custom-icon-allocationdetail:before {
  content: "\e648";
}

.custom-icon-material_stock:before {
  content: "\e6d7";
}

.custom-icon-accounts:before {
  content: "\e753";
}

.custom-icon-account:before {
  content: "\e6d1";
}

