@font-face {
  font-family: "custom-icon"; /* Project id 5106389 */
  src: 
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAACfwAAsAAAAARzQAACeiAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACIXAr2XN4XATYCJAOBIAtSAAQgBYULB4QNG9g5RaTftJdFZP8fE+SIWz23Ep6AC1lYdKiEcJVGFd3BwjeCI6xJh9Sc7nnXJ4UAS8NhnGaTfqRGQxMsNvEvVelR787M2hsux0pmsYZSQoVrzuWJC8S6RlW7CuM2BMDl7ht7CY1p+BQFGkYWQjjW8LzbevAB+cAHPlNB2IqWExHLMQFNRXHNHIlzoGWKpkXbrqUtbd/ZsjG1sralzWk32o7GjaWXa5kN8ObwgbGoOh5YinpRo9vm5wP/UYVrxAZAF7CbzcwcioqicSxDiq1Hz+2dsUFihPgwmNNK2mUpPRQkGaBCYIAKC8C2k3ap0wWAfOyv/TxZSpwOBwwlHAAMHP/vGnBBiuKSLpUMAenODvCwZC5sXXkL2Q5wgei0Sqv9XyDcOiztnKQ9QJCgvwYaGiCAgOp8On1Xn/2ZxqiAVx4WwHHUnRQ4neV8OXh2SGHFISlgLDCMGUsjWQoaBiv4DX3PTgFoLM/dum0dto7dxt+x25/HTjtDzRk5eOUXCwhqYvOHbNouVCaetowhGgOCy/ZSCAZyH2uRo+7xc4waZhuP8cS8P9Cgj7ewsKMx4rlG6LPTpJ6YNG0Mi+kAAu6CHQaAv/r12x8oAw1woih4X9LvrpqxwbdWTc08bUaCO2gRdzmY2oEIBOAhWa07+3fYCUAaeag0d/so4QIdAHyNxMxeRISQjD0Hs2iFCRenSIX5mrRwKMtOv7379vHbsXfUshmKq+/TyIptrdQVvD6WM7PJczvlPHRdvAfM1/Jj7dp1XK/jwgov8tyi/pI8wE5ZYKyto2usbyijsDdTU9QqmEjqqYoaakhYSClVzubSnJWRhZgIlgAwtgTYQ+k/IysMsUNEiA6xIAwSQoyRFGKKZBAzZA8xRw4QWzQLYomCIdYoBCKHNBAFpJUQ6w4DiAMKhxigWIgGioNoURFEDVVATNB8iARqgughM0QftUAE0DKIIVoOMUIbIGJoI8QCnYZIoYsQJXQJooLuCvntfgwQRzQGkcFTIRz8TIgV3gCxwcdBnPCHIEL4vigiAJdril/AJgxuyPjqvda2qk0igVAm1ZhhYjKRQhioAMI/XJZyO1b8Ce2PbVhjJoUzECvxECbHhpVVPhoa5RVI4kFfqm2jCngnud5Y9MkMLRslZUNa35FKOBOUlhxqWAptUncVGjetYE3hTR+NMaWjJuMoOwmI6ZWfdiMwtWz9tm5kV/g5jNpl54udssUdrpYnMEelEkdLFnAouYjCjR/lXCsclFuDPM7ZkRZ940OC3htMzlXHbTZriFEcYxxKNkexXEQzbYe0VvKVeZxA5AYxizt5NvHgrl6P4358rb3viYmPHyNeKPXTyDu5ldmIGGJr/fvqJh3T1r4HLSA9BlGOY0YGtqMAHEEEdBoScvmYnntEw0CACVnfkBOAcfFNEALswektGBc/QAmRQ283QVQ+tgvpoRCmchjnRl2QhMCJjCdqoUyvnOhNB03MhFnhFy2baMZlZgFqqiMVposZVB7OURDZJ4hggyXDK8f6zE0rK2TSi6JZorobxMCVxd7s4Pc+KmToUxdRnF9D8cFHhgcf/aRudcvOSudSSns0F2WP959/pDpujnW+jRO66YyDKIhKjZE7xUNOiyBpXOzNdYWQOfcJ2CmT+HKXIAQDPdsYpGk8zPgpNAQIX3WiMekUGMdhHzdo4G3WSxLZzqGBUqK8ZsRxTYFIpaXwQadqVkRh3VWJbhkfNqePXsTWblutFtILR6Zy1myajQZP1LrVstq329KtAev865snNyiaDD6lXFrtite6a2zp6bHFrGTejpARP3GBmoBGI9HKB9lFeS4n5zUDM91utWAq7TbOX944EAXfDmEst1CmN0ASbmK2wPRRZQaYJ0Sp6vCcspghK75J30Dqj7A3gCFcFaIAQmxwUsJPDICpEwOVJJM99cm9VhQv9CR6/UA85xIi2KOSc0WH3FomncDgodf7R7j0PXshWKQDHrJ/pBxFbBDXit2stiLnkOSmIPDfZkD46fmhy1vyrxQMDPTZEAatH7zS9vNNBD5gz/GESwluZzl9XCOcOEAyfPF8qL2UCELYwua1GAlwhh7ewhHwwNhbg6XlLv4PsCx2ZXi0gqdfpo8xkdKYTLLsIw+6lGd0/UASj9N3Kf1giXImGREGCmPYcgz0Stu9Avz3grTx7h86GSjJK5QS8jogPBgDv9poEf6JHQTlGnrZyoTdtc4KMeDb3uYjzUIgdhbHSsJrsU5G6vArwcUuEb/0JET9eb7lsfr1bMJsPEj2lBKdGBjKDc1KtnOax7x7goSuJnnvWCrfAa4wpMVzT2h6oUPJJgsovSf4BGUaMnavRJxjlMkePCMzSwlaZLKYHoOHX9FEhTHjKd2ImQlweDQG/rrNOC38LaShpTBPSWZxrhyquyAQTXxfbcd6c8G9zhE9V0pdU5DYog3Tp7dx/vvkqjuCsCWMWyHKar9TEgm8LmgEtDpOwo1LzE5002ZyM+W4vInOZQmG5J1emoGpzF7GuV2cBoI2yLGNesR9tEnWYkKqHYfoXmFCgceBqQvvxaR8gCk0vYIEgclvVFmeTQQofKVMNypNHqXlboBV7Fp4IKyIvVS6N5RIPatMi02bqxhyx23wcoa+IpqTle72T6qKX6J6kM2pMvsGwyNsXMEyH9KwWbfOc/oyizxmhClNFOlvpa7BlJMgXFBXxX9b2ccfClta/BPl0I9cUwyrZEPe5GFneXc8L4RGY4eVFdr+L4ZNMTZYnFETRHRhGGwCpjjXpJ8vDklEKgQEgU1+jFk8246oOz7oFaqelJxrpkQziWCn4CoRUkx6JklDE0yyHyz4MvlP5rFXAQliEaN5abAhApU2Qa9I4x6TJ0WllPxfnJe7lM4G8e4gEW4pLG2jCO7TOwLulUadqcVWxfokfNAb+ep4DzeiY5QrKM5lOa5U09DQ6m4ArL5fmOuambBZi0mlAGMQt5JhJM1jUwol0GRAAEBdPMtQP8+1uXphPJeMvVCFmd37TBhiSjsyoaUlEMW5hlzR2t//bsZIhZtllmcwpRsHaS+zUU28PDi6EARMwYW4VmFZtBVEYRK90QJIkK8uLkAU3PQmgrEwL3+vUyA0bRWlwJCUEIfLB+//Kggpdzjj6vZjr6medNXrzaFIOTTBXlH9KDQvGQFE0kUzzhxiXMTW2Uz1XMNBQTsH/zbBkBYNpf3SoZbVbg9dORi+edO5bd1COpf3TzLhJUR6IeUXEr8eewM+JBEyyopY2nvH6/Sd143JNdxK7mkhJZVO/0S8mNh9Mr3sPMR1l7pcWSMS0Kp83bmaKIFARlOZUOWj3Pp4moS4/ZYmHza4hr1NtEffiqGfidkpgNlw4grK9NopmMrp6ziXER99tCRKRiM15BbBZavW1bBPa7LkgMvskUnEllu27puieFTa5GFh0kdchz82sjObvO6KScivzKQ6cuTIipv81jyOTCpisH5NmJ80Y29YyFWE2apPXiYnN4yI4EDyHrivpauT1+uN6lThIIiKXZMQaVohuh4pSfA+Tw1ji5gMCWoxJ/oOqZXcmUbA6KG4Nx9SASFh9mqnN0w1hhl/F8wOPxRlewUheDh94uWmcTiLBgKdgKuFB5d2/hCLFwoXS+kZ4e3UW/Uzydx5FoIFjIXi1XaBm5PVMcwRVh1KAt42EJxMPOSd0qr0+lN9U0OfGqlSIsoCjr9u+eoPKmGnKP5Hc0HUTKhr4icTro0r75HyV55GY29LpxsY0FPGxrFm1HN6cPb88YMHWss4Ujl3bGZFcb2pj9aX08F0PK67JvnZCruFXyzR/U+8bzrt7OkNKtoTdts+CCW6r/H0udZ6VS6U4bkzKc3ftz8tkGVz0Vk/49sZI7QMxHFZofkl6YUpAKYvYrbLsxBl5pKhVSOfm/qKhBaGgb21sOwr+fmhYpK4HTkBiPJYVGPwDadhuVBuZqB7v1pvGo0obXkx9w5E3XDfg84Bt1SssHaRmtmIZgRCZQbSRgPA+I1obfxuF49Om1NHLtiXjs1Ys8cv7/BqMpvNGbE66Fy8+QhugFt7bl9+ytX+GWvFOCCsifRYNLtCF2NEMhXxHKDiJmR51osgnZIhK0QG3rVqApAqokyTYaI23L6sFm7VGV47diAlhVsnURIM01dxbtezVGm16gwNM0HR3VT3igprNUS1JKpD2mo5smYTWMkQndRMAKYgPx14GpVyiATA17TmlftZX9U1x4SNSP3SU5MvlJXUCIrLBj2vze2uV0vOjiavXD8Z8lpjMmwJWqXm8b3dnOkqtyjEkF5bLcv14tECJ+KKUueWyOgVvQi97SyfEhExGlS547qmEGTYlrLM1d6wRkToRXzx6slGShjUKnwdrdbLe1hoiIHRoNlNJl+zWdg63e51g6LPZMXfXfwWwtBrM+3j7Ysnp2Q/yrD90WA+2hsWSAmpodxs75xLHXmoSew++tcs3j5H3hHiAmXK2Lhua035dE8dcxE42Ry2iycTu0ERX0ICLeTR+U3BNDhjPQsZ+1ar/dDe7Fwmh+UlkyugzC5HWw/3s2Izv9nrwQWzmQ6aTv9ywSy71Xo2bNmNlL9y9IP3zcYV9LENZXXVqCteRGu9VOEMlC2Kq556rirR0tK6r+9cRnpza6WOM9ha80KkAgS36+zF8eTiESULDBXP6Kh8HNBRDGFfvNhZQboQTiQThCwoO0bDC3f13n1kuDmmCUASjqAe+xhMJdo1JbuEGRRCo2G3htkbGHVWr5U2bXOrqiJ8w7wa0XApK8WhgMqvdm4MW3NwR7udixH6/APVLtxMF4pa3Yf6Wlrj9RPa6NpiqUgKCJ8ksxsAzRtrfSPO9PtFMtImwqTp4sr9A3VwN01ZxrgOz1Z7ByBpeNZF0tZslcUy5TXY6vChp4Ub9i3rtnPz85hWQEeoYk/W1Sny0z2HschWhu1wE+J63mbEKPQd7qzlyOqwfdQqOKygzVIF0VqGh9Sn5s4G8QViEFU8oTUwyE00PFKgnJQxt/JlhGCSC2mQLM/rfYTIcdLAsS+9RbMi4Bwg59Y+FTMfurYAx3szSqesfPC2TPkiHUgiEtjs4oND+lofXjrHrWP2EfMoZ6GRIeAZsJTKeUEPCK1IJ58V68hwAsrpy04baknpdO/I4/aTNC4r3bsqlOOQ4e6Hk4cPdy2cWOKOOiaULcNGqU/uaoIdA/o+T7EDVjTXiTCrXDehp7mLlY+kz57Y68nubjlHKnbNZ6FzQBRpaaxTCDK6yux1xkfrNu7hlUXe8tGEyDx7uEcxb7LHUXyvNq9EJ3yyDqP+3Pce3E3XJ7Eqh/sqUq1WgYGOJtD6NtR5qPyhWEsSxjsaYQPFL0mv5eN5XRXiTn5/bACwrXG19jjUQrtOWxJxZdYjgiAIiR65JVOc4yMfYnMpvSMc7SpLUvI2cXrp1Oo7SaU8yfoCHa/8szkatho3Gs2bzfbtdksL9u87cubcsQMHj58/O1hyeP3slV44VG+s7DjuLRfceOmNebpRwbgHQm+hP67HFoPr0IuhCpf+9cv6eVrxLhoaOmhIpOTDMUn9bGLwB3M6XRmr4EKtlgItglsT3dEsxE7OTDeP2McOHMc8/wcTykp/s4k374Q6441zUqGHJV/GGeTSqU5G3DJMjTbElvj6xH8T6+NbMo9ntiR0kBi25v/Z4cffUt2Vty7K48OWtmH9cb0K/F+m5baG4c6/dfT9QR/X1C+pTfv2/SRhET9QJUhtYO3z6zMCsrglqMdyyjmukMeh1d2U0al5/ESE7j07RGkr6XCUnZOuTtfKJSXURH4COmShhy0yCd3SpeGtq4uLs+BxxjhcH1Z/JL5wYCUprKodZjDqAblkFl9cjGeJgy72W4So0FJZWd3B6Ki2N0bzFn7nYRFa+i9SE3mJwMdNLfV9u250g++9ZOXONt/D3D8boV97y3tnzhS6CvfVQqW43qVLP7/KIT/crU9X0nguNrSm777rfIGTLJhzhxtEfh1D4YGZ5EnKP5RJ8ivSODmLeK2R2viI2MQe5bK4o+z5gbGCGZhgNl0crGgFb6q8vO5gumkclU6LzY7Bl7PLTPWcxOZ2cVLCK86vG9VaEOgpK9/02zNZKYkybT3t31yjDKMUmjWNEmNYU+6qKGLpP5Kt408lLpHOzpFpzvpIJxfJ0/Gte8/5Fvj45Nf7FOT7+DnFSsYlsSlWNX6awIz7sT5qIsiWh9n5Lxk4pgRexOzxkrC4dziNETYGjsFmFgu8e/R7QdulPcsI71nIpadvPp3bEk1lBxxNPNNjM7TXd8YmkmWpJkuJb5WAoRI2rJwKcdY7OUWlOunRnKVDUythV76Pb1UBB51jcEo3TMXEudM8M9Rxhm7GjRmLP7UzM01mjrRAYTzNTkaXZWJwg32lxdlKcuIbgiLXpi0T2SxpnJ+AJjQu6OzAWlumz6c3zOMBGxvA+0RfPiOv64YOyHwI0tNMpr09uVJGrMA0Ew/9ek5iz2QktDMY2KD7UZzj2hdnwciL9Z+Hx4jnHhQGQ+GEIOQ6nY52MpmYOcf6svVMBpbJ7ETp6D5sZiCn07EoXY6iMa4ohj6DTsdQJi1isbBxj7GY2xlSJpfFwrCp2swfAvkqHtwpjs7m0DmVwvBYJhPLYgK3ylxtMUCnEumJ/1mdl7+NRlMYdEYqqn/SthFvDTX8jg7OwU6dvPIU/L3l/bW+Q3Z/CuZ77X/aIVjGj/y1LWh2dtNomCAFtUVTBbpBS+tmHZMVePvyf7gaHIpJDvd8d3pFMj7B8qd8xeXygtD/rxXE4ZNrlAVFg7JKHUpQLmAbuZ4lfx75IXPrwVXu6RH28sSjl2GSyi5Zv2pnQ/AWj2JA19MJeGsHOE0PEWwJMSnWlyB8CeYexDJgA7NLYs7q6i7bjezSiep0A+5414euPF3O2Zye2oGXVCqZVQyEDuzfPFScFjgaGslK2eV2OaQSVXYh4LE4BHslOhgo4pSqj6pZestdy0jL3ai7jXejgd9ti75ET3zDWzkQbR2t9X3f7PvlLlMqWjp8AT8YbRdVEq7+Oc+CSuOlJTaElD0fP4Q+5duUS0lLsuntWNhkwUUgPzXOfLHsprclCXsgudzlPGtUvUuza/1aL3TM4f9Nq+8sb13SChzj5vE8eJSlSCyC41HlF/CnkBjNTuBSivXXKoLfutw7JXdyKdbfKt2IPp/r01ctWLds3Qllzpx+necet4iFEStfha8KjxYwIhjA3aAgGZdat7+4SRXbfmJcTZinh+egRqaxuFhDgdtyiheAbfhzyFn8EfxBgjt270X8eeQA4RjGXWlkDLQcSjLFp97AopIUySTaS/iIPCP0ihKomW8y9V16Ai0LIwnyiIBIGfj8pPdUhzDVsoKIyv4Dbm6VcF5qqolrSk0xMl+w8iJlT5/HehFnBO2wTpz5m2il6LdMsatIM1tBGmGNkFYILAJXJd5K26UCHfyC+XK0tkJYL+FaQb2tDk1QC79kmpKLMn8X60S/ZyZr+0kjzBFSv9PtiTsed3/Zcc95r6hAScdjwTP2Ueny+VQwulOd7DjP5HKSs6SeG8qp38jpsRKgAqseigclHJn5DSBKJM7qHkxuIlJH/yDeQe8S/4BvU0gj8N6hnS9T7iHeRQER37+LeJd+KMUo3HnHUr1Ur4+O7urAcJfmZWg083KN+F7w9DLmubWU3pgS6q/tKe5uQ/Lghq7IM0Zt6kC5XfMy40F+ImVFmo4zzvX28MZidRBWDeGO7+gn51+9JgsTe4Jd9/RJPtt0yWb87WHS/zx7lgzCObC+yexZvDFSsD09QZwgwqsMIrbwbCjednYNqzRIfsXSeCseXXkMYuYRioh1ENTiMx/PxGBhJpNQj1Myfzc/skf4sH6QiQ/ZtbFqbUvgPL1RHpON+dodm2zIKqNlaaypxXiGvWc7oBxxD9qujchlKBdt0Kqy5sQFiTETQoABQw0aTE5+P7vcKglnhWVq8ClwvZadYJD6tgYRYkG8G0QfLskd3veitbLuUhZhPzAUOMa7Q6BdYggDEEomUGj5yJ72Ql05UHd6bT4tA1StSOTB2lJPjoXc4vSgZUdSF4or2Iy8NHhXWFV8qVtYKpVlV1XmxDAZTcXVbd93QwC0ro/ALWkl8RMLgU+bHy4QNtUss1CSChaeT7Jfg5m92WF27Y90NW1jrRd3gakSF8fC4HEqQkVMDAGPDxZD/6xowDK5HjF+OeHtG1rdGfo8aUvw+87vv2s98O5YvBhzZW+FHIunFuIgtraUAxbELkldX62URuRJzXHLCqLiK93RXWc8IlM9lrg2slWbR2vw8faAgGXMw+upFhXLILYmqUPfVNmP/t2uMWb2dxjqTAU1ax+Mrr6TqBKCuBlM1mKrFMgtAU+ApCFEQyKY3JzABsC1XXe5DLUi5JKWEQMYzAyai0qR7a5YBANcOKgCB+19Z3iTFU6YELktOMcIiABBx6rb5sVFmjrXv7V+1C7EXJtbF9wBb6MUJwv4mFrQAF5eo0xwJigK/rOD/BH+gWd8e/7HA/xv5GnOtPvG3Meyt5IxR1i9TAgiT5Mbzw6YOKa5OWt+MHKnuHW7d+dz6+dm//TjAsoEd5yyeRN3Ol35MKIoCKfBbYGIHzSn8CpToYlx0GgcYoPvbAx2mmN9/TH1MZaYJQ4sl+x8z50/aetEqLBOu2b6X8hL8h0b6kOV9xM/etazsdahff6Y5b3Zz7BxolBNqyOFb5mK9fGg/7yrtC+3LNlannm/YW5De2iItuKCJZ/t32lFYMacN+lMh7KZBIJ7gZSRF39JOuNRobmpjqULVigFr2TmRRG8MZwmVWOT7JVAqdAFs5rqgE/V838xA3Yul+wNdg/0diftoh7YhWPuSnB1tuUnP7fRM5ldzFsY5NvBjKDzC3ZWdZyq8GP0MoMZ+xh+dxOCmb2MbRaw+Tw23TOf7eSHfk3R308ffvWC3n9mgD4yNkwfeDNdx66zDJHH2ePk66a6Utl1ObmFaiM318j2MXKMS2+QxjnjpKF6ozPLz8np/dGlNGxwW+1FpIXQDtBDhQI36n4SPFbWJbqxkboJCURcQulbqXPPeZU+TNL8J+iQELIke9HNfX1qOe4qaTXMhFeTtq6gedBWtbNH2GvYw+w5NE1G92zLj4tFfWhFtu539g0G2YpCj6cmdjb900Dbm+igFCh9GkZ37djT6Ij0UBXzr7Fz+uIpeumOxMvUns8d8GN4r3qZqjqmD9CjhLXu2H01kk0VLT2qHmL82O6ag6B711ahMwUhm6idQygtpLcnko1I4L2cOjemWf7buh8JFIhC6QdoGhrRDP8/pOAo/LNVClW8Ij4CvyE+Cp9s+6yI7IhGTHzbWvaONT8HkMdmENPuBelp6qSXl9rk+HcKu2VCcG22L+kVKYT0suOMeviJoHoIQmgRBKPilCKREKLIV/hSNYIQ6rsHSUnlitSoWdlWl0Nysn7KzbZLJ+b6GjLkxBiDqrxk42/X/BJG7F+WFn0/seByrq1mymlcOr2YUrV8QRPIpW4lxS8ULwhmVr/bm6qSLddW55Zp5ZEhkrLslX8gMbsBa4BFeXDMKzKmLi8yWn38LZh9caiiQpNRqinV49EjD31LacZw76qUlCXaJeukFp0lJdmiPZ3O7fceAXlQsGGQLNtqDf2Zx2pbr9ZVmd1ElcqbB2Z/6SEvWRa1PKpzDc6msztrMXdJ99xOG3bSqwOoBf2PwuBLkd/MvyFSnhT5D7Xs6TZTpTADabHcgdL8dvam1w9kCruA/LKrvae7JCVIF2/n6swYDouaEzXAcIbFlRfuf38rOVa/13JcvO5oa8d2KytZbPIIAzDP9vtP7hzp5hyvVIkX2G5GpHwp6ZKQDyUEqQMTcGpWgpvaPYF5SJ2mUqWVqFLTPEtSPT1TSzzTUlUfxmX/gG5tN/hb9wEc0h4CHyV+Rl8fY0PwdDUAo893sTKqLZ9O2C3UJipO6cC9rpxT3YMfX3543NVodrL7yU7szJPzXO1chKm4it8yCxE6C2cld5G+pZUNADGEERp7jX4Mz/PL6030S/wNn/DJmT0rpzZ25MyqrZp9eYqRM9sEpJ/wfJ2Dvy3jC9vA/sKw9Xfg6/CfpMLU7H3D4uF9HfraE+9RWKUkKVdmHnjPoBJNQK3OX/ZPjtggzvlH5q97P+clGjAjC6aqqGXZVw8ufjKziF/5ws19mNWSyDksWpufssUq5R3Vw9Yj/VTc0vSATvGOmpod4q6AtKVxYE5Y48I5c97452tdqrgNSUkN3CoXTb7/LHVGhtrmH5oHNQNe/Rfzr9VwBtXjyHmyc2LbeoNLDYO4mtldY3Cu6SNVR4+ybmz3X8wwl/Vtic6HzlMpcET4qmrHKILgJ452rhETzYxel+pAuBrTPUWPNxw3OK9vT3BJ65UynVV2QXq4KXXjgs6IyUdzHk16gW3v0/fKzxGDtGVbuorLLkgulHn9TbfahvGafDS8THYMgbROC441R8xfiVJuT5L+7GY0/23e/Jn092ps6FaAvJocDebb3XH/6o8J1a/KHIPvyPnBd8Dr/zArExmV/4hhL19Ih1ySbRhjbNNjwvwDJe535LZBo5OvKZiVSVjzXwcrpbVbkeDpYPLTMKnwjbNgE2rBLhVvhJYBt5Y2R5y0vtbGFS/NLJTBHhmFUrwrr335P2aXed7e3Nq+MAlNEtanJCrc1G5p8Spn3uRrJo0xgk7yvOUXz/WMbBEKDCn2vp6GVL6o8PC5C3ZxEO5VYpXS2yW3csMXuU6EPBQOOXc5/kKLloUF3m04HOaqiMQmO4VFzLik+iH/Fc5NpJNjj5OWW6Q4R2W8yi1N7ebgGFjL7ZvOiiJu/BTMC7MdnMvSaFhzJWlRs7EHQsWGOAwdaLj7oAOxIBqbwI2yG+KImYpfHS6F8nGJwbOCk3B8aPSA44RMaet6XJfwyvE2WHg1Fs9eftGGqeRJHLbW9d9Cbc4ULndSL4+OwcmDmbQxEvFm/EpeAU9wL8UxrPE/bHiDvn5ekintWrpy0bzo8P0Bcf22o18HZ82XMt/eWxNSyu2PHbRp7FjB/5jVaG48j3k9lOy99P1lAQjayE/gmflafiOKfCOz+h0+4gK/DpOXZ3q6Z1maZ1eVhpSmxVGnD8111DgoNLHs0ChiRSiCQ13hIkW/Pf53tXd98e8t6d4mB3VdesvvPh0uzlF654wo565Kh0fJ0ENI70n/Qj+/gqbgrXoh+kLY7mwgT5GoYh2OH1vaqJeHSrZSotj/Hy8iYxarL+YuxnyYnbNvuV2zT7gUqWAF/h/oxJnsAX70w47gyOEXJiGwuV6lT3GgTvOng8NO+MOwxeb6EpsVww/a5cg0bxrlM3pW2smKh7ZhfbIMB99E1orLeZjQWM+7/pLwxYN1jggNcXtcKVXkRedFYVbSvcNGioDfYLpjes3/4mT1V806ZBIJkFLX1VgCv8H/165zzGZdeY5bDrj4mQIolbJmCo3C+xkpiluHBUzcSz7EJ4ro9fZBLvEGJoVOhlWxa0opwIZGaZZVqEpF0SEckIsq+4Dn389aMdmBSeK6MOQFnCgZl2yXIj1b4PkEO1kujpfIj2xXMPK9gJ/588aQlaJpSGgVZ4wtYr/kVHMC2m5IihVZQtVYJVaElWLBXlpnbYLEyhkyOzkq3wdKAHUk0FED4GF4H9iwg2/CkwjBRCDi6wlGQj2eqC/pyKQN6kp3p7uifCwOfrwKXfUYVkOI77MQBg9FikgGl5oPwwbn8IvtNGPRhCXu5XyJVXNIs5XEtsItfrGcInkpJopfSoxKcRJPh1YqQ8CytPecQ1RrwhTBmtpj8BL5fqXGOsfYxjjH0ubRPXNeoilaDe09LUGY8PJsFU0r1NKq6FfTM1UwsYPVAcNVJBj9LhGjUFEw98Fm7Cvvxv9+eB3AC3i9iFJ79UzGynVf70yRXVyESu69hUTyWETuiZwPIWf/V3ghPt49RsG2ub1Pf0b+J7v8kc4bWqFaPqQ6vZnHvN/rT5uBD8cDr0EzBR1sIz6xTw3bY47d0H4ieUMSrw+lHjLH5RJx4osnQvcm8QYxNtjBtorH6tRkhv6WlCZzkQJp8Z3ZHxSUh1L+gAfgYgRc0txCUBuUyOSLTWIRRoSqdi/eFSBGOjEQ7RJfOrrFkAsQ/qJPwOQqD5XH+fv1ZuGjlPA5cyDpuQ0u8qtIknx3vbsd/AmGioQL7hF7SGPM82vwPdJuNZocRTxRKlTJDpgKRFRY2ZyPwurwLw2saFY/bDT0Iw2Zsw8mePz20JRZnn/5gUmvP2Vfxzrv3iY1m424W8paJUhs3q8g9oocq+rVdB3BQoiFRlPFoagxWRlCyl+QJ9gT5JWl54yTe9eRx480B1QReQqvjyBNcaZItkBz3agcXMZSsDsCSgZKKtFt3kYdjJPcIpWKvVc2PdkjBhWIIETuGmFDL3+9KI8WQcsTaRY0mzRXeZxgwwbH7mjyUQfRTb9+5KYoIrwOsfkcTY6dFXN0oq3x9TQnUb/IaWcNQqyKo4Ob0rzeNgIR3hQpz3iSDQK1PBponn53gjynP9oIcQCY7jYMZQMwfc5RKBiA6bMeQyGq6yLXDN2BzFyfLsjgNxsyc8e0QHnceeshb27EGkjDndAOzZQvALfbf1A5GWYBYf4nDkRBbiHqaL7/a0gO3CanoHlHX3QW0rlOcWYPoJbApPNQhmje5WAEArVBPVBQyrRmXAxkUciomyRk2Rzg9nsKKbheY1AiOIVlIV2yYT+5RTTXpgkqDrx2E0qIcroJaDEAAEBbsXf/0WcqcPGcafT8Z/Xwdf8P1P1//U/q5aLvIxr17gfkn3hY+l58HFNX9tJJyHh/ff8LwUiKa41UkPbocct4for8Qf/tCPmXntbUqzTJGTG+EmcST8dSSvNYxhkAvnYNxNobINc+dVszeYaFTd9oEswQQoZWo2NB0fFjqeDvWKboKeBrJxxiawLItbVjrfd2M3OG/V4oyNC43sgFL9xGhPlaTNLm2xO/o6uR9OHy373f0BJ4vNvd2nEZvAFD+SUo/W7PrHWtSnLXYpeGGMVllT942/o1y/vb262b7S0vaeyCAmKg4eQYXc9ayBOs1RuvKuqQSDZ9vjnvoFNFRP2vhov2DfRMA3pmHHcu3MjADQ8mvVIJ9dX6Onsvmmk5TJWt2dHJzCB+BIRT4T7ZH/DMlgIGLdvnim7MSEq3opVTg6Okal7le+pxFBhwECBBgQbzlz4JPSAEiCCWSGV+WfkiKCopq6iqqWtoamnr6OrpGxgaGZtEvBKXFjr7Do+QbfaVRglsM3fsJWH2apjBBfNnTZ/Y445XXqv6XyrfE87J/y8YPcsw+Ys20KVCES/Vzs5lHFR4apwLXDFGIc5LNW1eG8XE/w9IOXCnyKI2S448o6Z7dRR4Xp/RIfFq4EQGDRS9VLY1+5XcK4HPAjdRiHu17nZAyXtOsVpqzjFAz8yeOVpl3n/pO9FRmW6Y6m0ukGee2VaZqgU6pRIx+fHwNZuQei4mM5WDoSwHTq3JnSE9hmIz2dVMeDJKt0YxCue6IKn2rIRHfx7lOanqyuyXd2wM') format('woff2');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-Transfer:before {
  content: "\e614";
}

.custom-icon-Receipt:before {
  content: "\e70e";
}

.custom-icon-Payment:before {
  content: "\e681";
}

.custom-icon-Income:before {
  content: "\e7af";
}

.custom-icon-Expense:before {
  content: "\e7b0";
}

.custom-icon-AdvanceIn:before {
  content: "\e696";
}

.custom-icon-PurchaseInBack:before {
  content: "\e67a";
}

.custom-icon-PurchaseIn:before {
  content: "\e6b9";
}

.custom-icon-PurchaseOrder:before {
  content: "\e6ed";
}

.custom-icon-saleOutOrder:before {
  content: "\e643";
}

.custom-icon-saleBackOrder:before {
  content: "\e644";
}

.custom-icon-indetail:before {
  content: "\e6c2";
}

.custom-icon-outdetail:before {
  content: "\e6c3";
}

.custom-icon-stockwarningreport:before {
  content: "\e66a";
}

.custom-icon-saleout:before {
  content: "\e652";
}

.custom-icon-buyin:before {
  content: "\e653";
}

.custom-icon-retailout:before {
  content: "\e608";
}

.custom-icon-inmaterialcount:before {
  content: "\e67e";
}

.custom-icon-outmaterialcount:before {
  content: "\e680";
}

.custom-icon-inoutstockreport:before {
  content: "\e64a";
}

.custom-icon-customeraccount:before {
  content: "\e68a";
}

.custom-icon-supplierAccount:before {
  content: "\e68b";
}

.custom-icon-material:before {
  content: "\e61e";
}

.custom-icon-categorys:before {
  content: "\e670";
}

.custom-icon-depot:before {
  content: "\e622";
}

.custom-icon-supplier:before {
  content: "\e623";
}

.custom-icon-customers:before {
  content: "\e626";
}

.custom-icon-user:before {
  content: "\e697";
}

.custom-icon-role:before {
  content: "\e638";
}

.custom-icon-SKU:before {
  content: "\e72b";
}

.custom-icon-members:before {
  content: "\e642";
}

.custom-icon-unites:before {
  content: "\e750";
}

.custom-icon-inOutItemList:before {
  content: "\e628";
}

.custom-icon-person:before {
  content: "\e607";
}

.custom-icon-log:before {
  content: "\e645";
}

.custom-icon-allocationdetail:before {
  content: "\e648";
}

.custom-icon-material_stock:before {
  content: "\e6d7";
}

.custom-icon-accounts:before {
  content: "\e753";
}

.custom-icon-account:before {
  content: "\e6d1";
}

