@font-face {
  font-family: "custom-icon"; /* Project id 5106389 */
  src: 
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAB3sAAsAAAAANdgAAB2dAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACHGgrXEMRqATYCJAN0CzwABCAFhQsHgwIbsitFpJusliay/0/HjTHgQM2fnUI3pu9SD4cGKRRlOUjKmDztS1NzVb9oMdE75+W8LnMQCz+zz/Pq9Slbfpa2HPMGoZUFix9Wn8/roZQ8/Lff//bM3Kf2xaC7JdXVXUshQSiUQicREkkssQ42PL/NHnzqAx9aJ0i0bhMVESsInQ7FLMwG3ZziLObKta50Ua5cpLtbXnhzGcZVGFelYOnW3R7Ez6IVyYwjSHSNxffdDz/ZOGkfDMi4Tfgdj+0QJDpu7I0dfyajv6cA2FQXtQ+Th4U6sn2v659jlCBclJNl4AdzWkm7LGXmSJbbDHBDB7RAbDtpFxDysb/2V5YM7WDAUGCewEGbnw/835qrSQGTLSDqY6FJvVKfAwT6BRDw09RX6vvOnDzOmMoGZFGie3LGu5P8c3bW/a2/9bf8l+yMPVpYOOHSKdPOVNY269iovCGklBWWwRSwYFjCCwgp5Fx6+t2jFsCZLDvGZjtc5BfzmTYiInb894tIaNvqsHzk9swVlIf65WMclZczE0bP9BDvXEM4pFSMkUkzUee9aVXSG3CQX6G3kdfkj0//TaUOWa14eagL+dGbbn3T6PJclPKdydsMLp9RQ8HGlK3M+9k1aWfRcCPhbRqrYvtWbbVeZRgEayTkXPgKpxcpSoIyNVrZWISl+Biffm/IVMIfeO5FifvHE3MRizvvxUm22v66qJ39d5O9/ff/xzzm1XX1DQzNGZtasKilUlP0NDS1dYwk2YolEzPLpDro3oV0VWlZIfBYY54gaNQJPsDKEINGn5BoDAi5xpBw0ZgjfDXGRLjGlNBrLBCRGotElEaLiNeoiASNGlGmUYgajR7RyuTBtAEDZi8IbTDXg9ABcxcIIzDvgJDAvAtCBvMJGGVjvgKNJX4vEybENIEwAzMB1rEMVtWb7Md7BuuNTr9YuF8K1l8JFhTEQJTIMU4gpfQOGxygSRg87ortiRHZqq6wBqiJc/5WmXOBvzuGMtTRr0IN1eiJa8F1osg0dp5RLwmiwa6/4QqKTF1YdK7pMsL2ce3Tot3IVFeQ2zfPEyLDNMlkwbyOH/qkziWzkwCj1VOJrkrk+E7v7rC7p6lptubNh9iIE5qvceUFLeDripuwpidipqbhb8Gq1FLB/w5G2fBMwsBWEshGsNv6pnDtEz0gpWRWYKdFqEIAqoQ4ugtkKCF4ho/VbcvgnKD0I/Tg7HHQEi8RRct/pwJXUsNcXvj0a0zPscsCpkJEHRbtqpxXUcce1aK0whzp16OQPlK7ikF+BcHroB99wExuyB8LS/rQ1tk74LTD65uyJrpaCowpUkIrNiIz+NmxC0o1bhKFEXYBg2Hbxs5SWVZSXwAe4UjAGCSDt4UJasi5ZizZkmrbAuVHuSxrSqLohNFFuEkYl3NzyklNYZTT7w34Lvk/6omXApBLBW23/Zbk12USVCK1J+DPixLn8v9l2b8gVHXIGyTpCWSG8scBv3SDjtu9PV9JbMoN4vAJssVVPG09UUxLhSZ5XF4Wop52K5W7AKLOz6q3es4UJm1QLgRY7McUaegsFbALgTKoGGIAJRsvUtQi55uyuEk5n0w8Gtz2rXnHE1HEc1qTjQwlgzTJKbKtVb/97aCWC5MWVmI4pwPbJUlNlBCL+AcfFKSAK0ldjuXcC8iWguRHxQeD4bpaGEix85sLdhr1Cg/nGWJXNlEO0pIc8qi/Tf4vg5HziNWjaj70kkjlS6nW37dsnaGAyV7xpc3PRmaKLgESdmqFwkHtfiluyHlhSWoeIcOdqbD233Ug49fKoTWfm2wYzaZVr+s1LdAPrOvGIcJwIb7MRptIsJ4Oil2RAsWvSQSV7Vji5vaGcubGX7W+U7KRvNhAIKXzwXyL09q1kJmw7pPVhDuyMN4zn0H+nrXT6gJJZ7oQlgc4hx/lH1BC+zvN3K+F+vSvE+XB1xIc00NqERT0+W1UYXcRdtvSHq5NKl94rWh1tU6aVnsM141Wl6KftGTmFurswjhS24FtM2+48CA3yf1Mlx6wLfkhYXRIfJkKPHirUpdUFMnjsffq14BuB8IZJe4vjML0j2+BARJEsoixenmXRTkKCAgbZLDg0RywOXgye43RJVWSBLLhSHLIQSohh+c84ds6+w72mPKIIC4c8luWu+S/MwgoR1pwWiptoFmw9/2/vWQzH2WD88J06r44dwcjBMuZ+efr2lQOkVAV0jx67/i/v08ki0YLqUy8F3aReVA/TZlZEEEsQQXNq7xLCVYWPFjp2yChhEgn7w4XWu/zFpWytPfYnf0d32tptzXOgdX5629fHgWHvSbk31k2yG0oJajz5SGqsH/8Fv2gujsaEcrapYbmuPtuNa39ubu+zlNquLI2d+1qb+lBSquzg8eq6zt9sDqRCQdaWlRbJz8ZURsLHFe68siXutXMLZ0T8cWozQyArnS59vhq46zwiylaXU4rweUrGYkyl48P7vnAzGqRYUKL8pj6F4L1foADG1h9awiyDW5qWjFi7OtLHl6cBsZWIr/EDQpTxSU672MrBKk7jaSXQAuI/ErZz9BIfrndNdayNZXEOjqgeIexhx6abdcp0X7xINREMs8Qg2oItRrAmaAhfvONmQG9f3rd3JwdNIbmtv7lJfR6sWQ0jUaj3do4OJN9cjjm+tZj0WZoxWkBzTeEezQeOqaybsKpiOW8y1arG8X2hS+EmTSPaDE28mZQHWDaQRWSUaYGXN+61IJdtqpy/l/IJJW7iqMspA3s4Nr3ilQ0Gm2GR4UgVDvXjaxEGzVxJYt2BxoNV1mvAzt2BGP1DEAA/HGrs1YIi2yAgYKK54+zJWVbnxMGIgjusZKSWpRc8wt1Q69986OrZbfoSJnnV/dpBVQoj3qCU6p48qVhTnnCdhjrwO5J7lerxwmtWBYBXbZLOrfVKkw2c+EUiLDOsCxbtq0zRt4xOfdlcSmqEBZ5sTy2s1BLM03uKt8llav+RRoZFZBSWB8m82+ZNGosNe+wQyegvBR0Vf+fxDTsDjbnmhsLwP51zQw6w5H4UlQUEFJBpVl9fjg9fUq1du1KT41dP2TfUFoYqkDpvB7qlL+UqmJdCK1cHvvGQmsX2MlF4ut+Hhz5SzgAXis1mjUPG837LuWGC/kOBU75MWgM5ebumrqLVpv64A4Pruj1TFi37pqomEduNJ6MGmYtHRzvfP9LvbaNvjWhnSxrbeUekXxsq9BoENrfhCxS1Xx2JRcPBBl3rma5B60vUbSAgxUvQmBA+8LKRk92YUZ5CkwZz6soPQzQAaZyucU5X0IYjXqTGaI2Whxd4clN7c0fvdMdbxKCKtOoMWdht8XvLsk20MNiqdXMxjS7h9Zm3Yr7l3/YZdEQ3jKvQhSceMnp8Cl+MUujw6lr/2o28+6kjtxTvoC7aWjE2ybvbCi1l+eVztOO65Ai4pfJnIi4jvy5cueMk/caJlluEqZLGec4MtlMZQ93SWlbN9uSc+U7JiA2uurCjP1phUGz/ilsVeEzTyn75qFx3Tr4LIESOEsZR7776DX+ibowOBJW9+F99CgXhrcF14mxJxwasgrvd06GowI6EO1e0dA8hEDSJfWdSlytRGBBm0Yhvo3fmSloSVo4tC6YBlVmLFYxD8zLHCbKuIJzvM2zX0SPV0UkRJB5EwmGnhpf+bCtzk01PMxC03Vc+8GwCUMpjUBWYBkst/HOlN43ZiZrzpg1p/WZkI1ORkGn1RAiHyWdERmxgZ9Wa+eoF9rSltWHFGlVwtYMwGkWzspbMYdlp1Lbuw0qMqm+2e+bmrrwO2tjoPUGlpBSeiNf1Y0gN9lMw4y+HR+AM5SAimf4VctdlV3dKX1od5q9lzze1saHScmsexk9fzdzJLf7PGOk84R+h9XT2bZhhBdjcs+nCyJ1biolqNeXsoR8SVlX0j3sg+0Mhr+LFM7tgCSaHIxVWG5WzXcfsUNlbKODhy3fl+ApkfIRW1qr84VgtxwXt2MkHX87S4AZp1sGTP1HVIvELt5XpZ6EdpqrEKJSSOKntHxClvFHH2C3JekGfeZCXaLrrUhgc/HkjQic71Mq/r5GSMZPcxA1avu1+kG9eb3ZUMIrl6eXV2evXptbW2mvOVb6nMS8aLjaWeUcbusFOi8/W6enC9jZQNBWek1jsvblMz3DxznDiGokLOgv1vA71RS0o3EE8sG4RHWltf17fSBT6m7gRqtmoZYlG71t8RDkQU6l6tPm7NU5rMtHLbQoRb0eL4+bcvUs7Kx5jREWv0gyqdkzyKSwer/JdauiYdHgLfuCeP0qCpg+pEl1LbAqrzj0NDlGODTtchjC8+g8/BDZixyFxPPdQFRIAv4pTGolUKb/IDymPyH8AT8iEx/Ax8YOmb1HCU/ogFAbPXxM2rkQ03D/Y3v9OqMxNnagD+W4rjBLpyvIL8IOgzf3UO+WiGktaZH+1d5gNgNSbw0YWDl3zO4+uuNAQXYiKc6lqskwOMw6+nv5o9EGCI08jrMHR0nFH3+iACt7jm1587qYbb0/zew354j/c+QsCYRxYf0qkbM4M8RwOS1JmCTA71tB9F6OE9lfJmvepEOKa9Yl4jk01UWIWYgrI1ggqD1gFZaJQsNMJq4Jo2ICEoD7u+MWE6s9vKtuW3togbFIGpeH+mUwPtWUW0XN1S2hlGMZcu8uQH7nGXZAH53PUHXs1KtzVySECVFzfIAy1qxDmYtH2dX4FAwezdRh0+AmPTvJJA5cG4aLB4keEG28In/85Pu1tZa7ubhTwFTimugJgS6RKRJAIxKOTC1GjnaVGqqBpt9nzzUJoBwVCLxYe5tI8ZBHghG0H0wZoGNK9iATJv8afM3PljWVYkleXa05jsloLa/v/O0IBMDaHdGYnrVEbnIpCOgMwoTC1oZeOzmlZM3NFPkWlN8eF7/G4zQNdVejj+Nqay0mgYXCYtS4mrg4HBYbLoT+2dCMZjp6xQWZo7p2rvVkGAvF7eHf9f/2u94L64nGClEfHauRorGUUgzE1lc6gNXxPek76lXi6EKxLaG3JCax1pN++LrXynSvHvcWtnrPdAM2UQ5wmVGANVLsapZJuISoifi8Tj79d5euKHu0z2SxljRsez69+XGymg8SljJZ3fg0yCMJi4PEWoIpGczvSWID4N5luFdFx+Pyib2EEAYzi6pUK/I8FR0wwJwCdeAMvzjT57lRuDmBx+oPGSHRIOxifWdBwkpr/45vlrzs4qM+ybGE98H7yeWpPC6qETSDiU/Icw5zZAX37RnuA+7pt1w594fT3F9Jiw6LpF+ZJ1lyCsZ8wBpmQhBpkdTywQ2rgzXHvGVrkeOCo+XIkWLHppy8E8dXk+ccZ8nLbt/FzO0vosvCMDrMXgj/sBWlHzMVujgXnc4l3nr/D0iTTHdxZDSuKc4e1+PCUuYVex86obcI6HyL/gTAfJAe3NkUoXqW/IN3Exu9JGIkGLV+OO8tOkEQoVvrSubaF+IDvGhfHK4cya9KXSLNftac09wVodXX3LYXs4P78Thm3E2rwXo2j4nDeZaIGYWJd8VLX5baWi0sQ7hCxZuU2Dpi+HYcWtUtrZJJnkphCGe1WkBA3bt/UTdkyrtyk+y5UXZFFvNcFoV6IsJYnKuv/NRJy2YOMB8qpDgM6gF9Vcmhur6rNUGMYWY44yQjaPORcOYwY7+N7FnM7hMLOMD/5J8oRkdp45PvaaPXb9AezIzTbny++M0s9jHSLHuW9KnVUjbbYs6v1BD5+UXsgCKHonWfEWcdZoljTUXurmKz2epovReGDR5pfAhULfU0LYLP86CcIsIzVQOCz3ZRdiOhiDKCto+S86FX4SNFbX+CPhEuV3SMvmdkRCPFfEzcDDPhzcR9G6he1E1d7AfsLexx9gqqLmvQz368W9ZvVuDs+fjkrTBnQcSl9OT+1n+aqceSXVQ8VUDz9OGDR1tckSGKYtUnbPNIItkoPph8jzL0Ux/8Cj6m6VXXx40AWgy/0RN9skG0u6Z9SD1ESJw50nAGDB7eJ/VqYchuSv8YnaodHoplIBJ6ktNzEvqU/649hYTyBBG001QdlWCD/x9TOCiC89QKdaIiMRp/KwGKgDx5bnRedAsqsXMb++CWL0JIM0sJGU/DjFRNysTdTin2W4Wslw8+8QskThK1xIm+6+TdE03x4mmp0bgixVVFMk6rKFYEUnQ8LeXb5ykp1Yr0GN88/D2tOfdEfp4sk5AfaMqSEuJM6uqKXV9/EpT0QD5RWfbb5dX38p11C8tnxYtuC+r2n+lJpEqPivL3ivc4G2vU4/O6ir2fbM6v0ktXakVVeRv/QOKOANYNFvn5RZ+VcZbClbGaS98AvztjNTW6rEpd2V4vX3oZQyqzOvrXpaX16HtyervBnpZq189h8Ph9iEe6xRtwi2Q5a2tGs3fFzl6Vm7IHuZYp3x3w+3mI1NMbsz6mfwvGqX8wt9uxZzCn34mdMnmabqf/R2ZwxcjXtq8RMUeM/Ee3Hx20UcQwA2m3HUFue16w9ZsD2fwBIL3nLvf2FKWFGRJl7m6M8ciYFTE3GG6wsPb2s9++EV1sOma/JNx+YW3fATxeEp/6gAGYH/QvT+q20sMtUaUWrnbeg4i5YuJdPhdKCtOEJmE0rCQPjWcS86wmQ63OqFCnZ3hXpHt7p1d4Z6Srv5+V/AMG9YPgb8P34Kz+LPhBFFQUGFDUbJ26ZlAUoL+prHr7j5dla/TJiqsG8HTAfHXw1g8T378aaLEtl52QCd04Uo67TMkP4S58vjst343vmzpA/DWj6gYQQih+0XBREB0LgwqHk4OSn45zAWY/X3OjR5h9G5f7XZ03YfazAvGPWK7BJdiZ8TPbxP6Z4RzswjVgfxTz0/NOjgvHT7Z3yhvrVVqnIqry7ryw3mEVupBGQ7DkH7PQJDT/Iwk2fH/nFTqwNBemqClVeR+f6X69rIxb+97Dc5zVnuxwTrCtOG0vPu1bipezV+bVhHWZIf3Cgw0NB4UDIRnrEsCKyJY1K1Z8HlysV9Y5NqekNDvWKXXFwb6arCyN0z9UL0oWvPkv5l+b4SyK1/mbJLfkzh0mZQODsJk52GByaxgh1seOcYPowb+YGcodncluZ29SAkBMoNr6GTLP/7Sxbg1Cgo3RqKwPhetRHi17tfOSyW1HV5IyY1S6W9+q2+Jzrem7VvdHz79c8XLeB+z/LvOY9H1vkNG7d6C86rbodpXP3zT8fpTP/MvxXslFBNIvX32xLXrVRjr50Tzxz0FG29+2PT8R/96MjtgHkJ/z0+Fc2WPPX4JREcZN2TPwYyk3/DGY+g+1MZlR+48Q9gmEDMhdyc4Zxn4jKjI4VOT5WOocNj0/RUZtTEHb/jpTK27ch4QvhnfeRIr5n7vxdtPt6HXCXVAv8GjvdMWImxqd3LHi7FIJ7JVVKsa6c7rW/2NTFvj7OzaORIqoosgRFUHhofHISFS7ceanmFTGA/o8x19658OhB3v5PFOaPNDblM4VlJ778LYsAcJMJtep/JX5tTt/lhoEyAv+mNuA65fUWElk6JPmc5HuipXo1OWR0UvvqrcWT2I8BAYp+hJxvV2McVUlqj0yNB4urqGNjiOLiyD6sxPhnEjnWzksnY6VI8qI8UOfjhCa/A463fzkeR9iR3ROobsknwmjlym+crkbwcUkh/uGp2C40PRp1zmJytn9kiFp0vURWPNxPJa9/o4TU8URueyzjD6kO10vXb9csz42DiMNZ1JniIT7iRs5JRze0zTXyJb/0FHNxqaCFGvGJ5mqjoLYqFMhCaPO07/c8l0lZn7zdIu20nE0/pZTS98G7g+5LbaWm6ipsZDfib+73wdCb+EmcWxcPbeFjvxKYo26vPqCoD6rj3dmpndVhncvrzTL0Hw0mWM5rjoXhS6eETpFfBzegIultEMxKsf+rvFvKv+9PdPf6qKxZLb/HtCndIsxumXFuPXyTHRElhE8w1eCS4OCSlqtz+I16BfofKiZtECkCA0Ybnxli1EaIdpHjmH/f6mMhOrW3MnvRn3vZz65XtYWECVGalih/4cud5gfAkG0c67g/Ln3Vj5w+rTOmOZCWeQuUlwOwd+P2385e5w2jD/vkiKLnEVEunRo4wk3nJxxY6oE4VEhkrUY84uklibOp7ec759vd0WoiMerWrGiMLYwBsuKwYMOLAP9kMWaxS3/FVLQXw3bkXkkREzZ3mBr/hr+v3G769NsrzZ7mMGdn8iA/EzSRqaSOV8gZQnb0YCJuT1P87Uidoc8TJloYpJpJFgdv6WSDJyo5DZJDRE1ZdtMQLpfOwK8/37bi/Eg9k2G3zPfw8miWdEB8ch6C08wJ3iHWJTIBGXhAQSo5D38lq1PiWwULEO8dQ4zbAF7wqGeqahHIDFaEAjVo1VoAVqMBseog7UCiZcyJDIpXXoSRAhlJnBRQuBx+CSEkMH34XkEZ8URsE24IlwTlmA81Pl5J7o7zZPmTueiMfCrTfRNr2DiIXyXizA4dKRQNLmkvh83FY2/bL8NTU/q8azmivBt2ja8yLnGI7FbShZNCAnCCVGR8maSr0XUqrSgN+M7h7OUJbgF3BLKkMlHEPgLJd4tzjnOLZ5aQPOOexIsUBuo31GT+EkTH9RR9Xw9tY6mKq/XwYQ+Vh8M1xFh9I9EiKELwh2f70FP+rf8t3UqhBMy1UFu/Ph61sbtvzxeICmVfJXj0zUE0kx0/mXz99oP/lf4IAH+Q0W8/TnDb75A/icp/8jkjG1Qrx9TX9vDYT4bDqYuxUZhgc8tG5l+q5PwWp4eedQWv7PrcurOFM4InXLWlpBPwAjvXI44lsK5hXJC3+qseaVJT2UYH4qpEqUYiMs3qj/IdA6d/Ad8Ay5HRHmThwjdiU5gcoVWoQAlQMuPpL4FECKXEAgOC+/uTCE8C+B/aUxC5avOVicEBw3nYmNU8Ie2UOI7J8zKxxsSFXsaPWXwjzBUxl/9lDBEnGHe3IIdEg9q6KkxhMuVfLXktLVEqMZiTzHKsGAnTKxY1igMNI1SjVoLE47z+vqFNbu6+N5zq9F4VW5h3fTsFNtsRZiHqkYVSG7j2XlyZMUTt4ZmwNlx8bDWWnPWKSve5Kl+T5pjz5E2ltthljS8nTS742awBaQFrNGJuOCwQHQGnk/jUogWFYLdF1Jxo6KWvt+/yABjRA+JlUL/ja2vjwpBDcLTSt2jnWj17xYUUqOphQItgOqU4S5N4O3c6TocXXraRXA/aBS5L4iOsiCOEler62AlXZdTP+O7qcsFo4Llh1oQFRWuLjTRtsPRCeHfF6iue+JOibkKqaBtcfEvwOJlXdAy0vd27Ij/oOrYuDEoMvbaaSicPOSu1tOnICnEdrsKFUy44wPIEL0as3kOtTfPz5tQlmx+WwYgEtrhliEobFFOWxUH2RFO0xhfZHAgdsobSBEbNgMlk6uQFhxIG7CsdtmxTq1QefOU+1BSnPYc1A1e6qC36Cf/PLscUPz4uiqHGvg7gfQHtfqvd7fmks3ibwIEaC+lKOBfZTITE8uILGztVgsAD/PHm12IqeSdxmukYAIPpQT0UjTwb5jDAPgvWSUDTKbTYnKDiiRLfD8JDY8/CUIiI5i+HgTbN4Dg+hrqiZaBcgBpV24BEFQFAwDkYDOahOIALk1Co7g/CeIA3hBM37kIdigKS3B9uZOIklGed0ciR/UoumLQAjuV/Ss0FHJniUlRyM+fP/4TiuQ0nzbXG3+BI/JhtV6sKG13EIDDyxGPxUYkVzmTV7dyHw6cI1UyHcDIYi9SbpfLnJZjYchXrhi0qNPulOx/fjQUcreYFEk7+Tnj7fmEIjnN7O2gOL/AB47o81HWFlZ85E4HeLeaQnc8FpubI7nCnMXKlds0S3CvzaSU9EsdwMjCXsApt5ZobzkvX8Rr+U7EQdPc5suNeTngQQARJJBBAfW30R8CgYCBAWar3en2+oPhaDyZzuY6GHYgGl2XkmihZ1HI2JPmgKFgKImlHbUDz3WaWfrH0GUeas09xuC1AKN2hlKQiXMrR4HhYIQWl2KOG0wNsDaelxnHVJYOgS+siU5Q0TUPd0H8H5s7odXS8ZXoCoeKjRSBG0wO6l9PP20PPqOEbaWAAnGI4S3Jg4B/xiitkqqiUHdUTLRzFPIqpFwnRtHxv7PVSdWq2H4kKxUAAA==') format('woff2');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-indetail:before {
  content: "\e6c2";
}

.custom-icon-outdetail:before {
  content: "\e6c3";
}

.custom-icon-stockwarningreport:before {
  content: "\e66a";
}

.custom-icon-saleout:before {
  content: "\e652";
}

.custom-icon-buyin:before {
  content: "\e653";
}

.custom-icon-retailout:before {
  content: "\e608";
}

.custom-icon-inmaterialcount:before {
  content: "\e67e";
}

.custom-icon-outmaterialcount:before {
  content: "\e680";
}

.custom-icon-inoutstockreport:before {
  content: "\e64a";
}

.custom-icon-customeraccount:before {
  content: "\e68a";
}

.custom-icon-supplierAccount:before {
  content: "\e68b";
}

.custom-icon-material:before {
  content: "\e61e";
}

.custom-icon-categorys:before {
  content: "\e670";
}

.custom-icon-depot:before {
  content: "\e622";
}

.custom-icon-supplier:before {
  content: "\e623";
}

.custom-icon-customers:before {
  content: "\e626";
}

.custom-icon-user:before {
  content: "\e697";
}

.custom-icon-role:before {
  content: "\e638";
}

.custom-icon-SKU:before {
  content: "\e72b";
}

.custom-icon-members:before {
  content: "\e642";
}

.custom-icon-unites:before {
  content: "\e750";
}

.custom-icon-inOutItemList:before {
  content: "\e628";
}

.custom-icon-person:before {
  content: "\e607";
}

.custom-icon-log:before {
  content: "\e645";
}

.custom-icon-allocationdetail:before {
  content: "\e648";
}

.custom-icon-material_stock:before {
  content: "\e6d7";
}

.custom-icon-accounts:before {
  content: "\e753";
}

.custom-icon-account:before {
  content: "\e6d1";
}

